.about-me {
    background-color: $color-section-about-us-bg;

    &__title-wrapper {
        margin-top: 68px;
    }

    &__title {
        font-weight: 300;
        font-size: 50px;
        line-height: 35.12px;
        text-align: center;
        color: $color-section-about-us-title;
    }

    &__sub-title-wrapper {
        margin-bottom: 75px;
    }

    &__sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        color: $color-section-about-us-sub-title;
        padding: 29px 9px 0px;
    }

}
