.header {
    background-image: url(../image/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {

    &__container {
        height: calc(100vh - 97px);
    }

    &__title {
        margin-top: 263px;
    }

    &__title-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 47px;

        strong {
            font-weight: 700;
            font-size: 48px;
            letter-spacing: 0.07em;
            line-height: 26px;
            text-align: center;
            color: $color-header-title-h1;
            font-size: 48px;
            line-height: 0.542;
            margin-bottom: 14px;
        }

        font-weight: normal;
        font-size: 22px;
        line-height: 1.182;
        letter-spacing: 0.23em;
        text-align: center;
        color: $color-header-title-h1;
    }

    &__search-form {
        margin-bottom: 114px;
    }

    &__search-form-container {
        display: flex;
        justify-content: center;
    }

    &__search-form {
        display: flex;
    }

    &__search-form-container {
        max-width: 650px;
        width: 100%;
        background: transparent;
        margin: 0 auto;
    }

    &__search-input {
        font-family: $font-default-name;
        background-color: $color-white;
        width: calc(100% - 150px);
        border: none;
        outline: none;
        padding: 0px 0px 0px 127px;
        font-size: 14px;
        letter-spacing: 0.13em;
        text-align: left;
        color: $abbey;
    }

    &__search-button {
        max-width: 150px;
        width: 100%;
        height: 60px;
        background: $color-header-button-bg;
        border: 2px solid $color-white;
        color: $color-white;
        font-family: $font-second-name;
        padding: 20px 35px;
        font-size: 14px;
        letter-spacing: 0.1em;
        text-align: left;
        color: $color-white;
    }

    &__search-button_hover {
        background: linear-gradient(47deg, #496bfe 0%, #496bfe 79%, #5474fd 35%, #5474fd 100%);
        background-size: 340% 100%;
        background-position: 100%;
        transition: background-position .5s cubic-bezier(0.755, 0.05, 0.855, 0.06);

        &:hover {
            background-position: 0 100%;
        }
    }

    &__search-button {
        position: relative;

        span::before {
            content: '';
            display: block;
            background-image: url(../image/search.svg);
            width: 19.99px;
            height: 20.04px;
            position: absolute;
            right: 15px;
            background-repeat: no-repeat;
        }
    }

    &____scroll-down {
        position: relative;
    }

    &__scroll-down-link {
        display: block;
        font-family: $font-default-name;
        font-weight: 400;
        font-size: 13.5px;
        letter-spacing: 0.13em;
        text-align: center;
        color: $color-white;
        text-decoration: none;
        position: relative;
        margin-bottom: 130px;
        // color: red;
    }

    &__scroll-down-link::before {
        content: '';
        display: block;
        background-image: url(../image/scroll-down.svg);
        width: 19.99px;
        height: 20.04px;
        right: 15px;
        color: red;
        color: white;
        background-repeat: no-repeat;
        position: absolute;
        top: 72%;
        left: 49.3%;
        transform: translate(-50%, 50%);
        animation: scroll-down 2s cubic-bezier(0.4, 0, 0.46, 0.79) infinite;
    }

    @keyframes scroll-down {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }

        100% {
            transform: translateY(30px);
            opacity: 1;
        }
    }
}

.header {

    &__menu {
        background-color: $color-header-navigation-bg;
    }

    &__row {
        align-items: center;
    }

    &__logo-link {
        font-size: 24px;
        color: $color-white;
        font-weight: 400;
        letter-spacing: 0.07em;
        text-align: left;
        text-decoration: none;
    }

    &__navigation {
        display: flex;
        justify-content: flex-end;
    }

    &__navigation-link {
        font-size: 14px;
        font-family: $font-second-name;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        color: $color-white;
        text-decoration: none;
        padding-left: 41px;
    }
}



// Создание бургер меню меню
@media screen and (max-width:576px) {
    .header {
        height: 0%;

        &__burger-btn {
            display: inline-block;
            border: 1px solid white;
            border-radius: 3px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            transform: translateY(-110%);
            // left: 3.5%;
            transform: translateY(-130%);
            /* left: 3.5%; */
            right: 4.5%;
        }

        &__burger-btn-line {
            width: 25px;
            height: 3px;
            background-color: #fff;
            display: block;
            position: relative;

            &::before,
            &::after {
                content: '';
                width: 25px;
                height: 3px;
                background-color: #fff;
                display: block;
                position: absolute;
            }

            &::before {
                top: -8px;
            }

            &::after {
                bottom: -8px;
            }

        }

        &__input-burger-btn {

            &:checked {
                &+.header__burger-btn .header__burger-btn-line {
                    background-color: transparent;

                    &::before,
                    &::after {
                        top: unset;
                        bottom: unset;
                    }

                    &::before {
                        transform: rotate(-45deg);
                        transition: all .9s cubic-bezier(0.95, 0.05, 0.795, 0.035);
                    }

                    &::after {
                        transform: rotate(45deg);
                        transition: all 1.1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
                    }
                }

                &~.menu-list {
                    display: block;
                }
            }
        }
    }

    .header__navigation {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translate(100%);
        max-height: 0;
        font-size: 0;
        transform: translate(-150%);
        transition: all .9s cubic-bezier(0.12, 0.35, 0.92, 1);
    }

    .header__navigation-link {
        display: block;
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        background-color: #000;
    }

    .header__navigation-link {
        display: block;
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        background-color: #000;
    }

    .header__input-burger-btn:checked~.header__navigation {
        font-size: 16px;
        transform: translate(0%, -26%);
        position: fixed;
        width: 374%;
        -webkit-transform: translate(0.85%, -50%);
        transform: translate(0.85%, -50%);
        z-index: 1;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .header__input-burger-btn:checked~.header__burger-btn {
        position: fixed;
        z-index: 2;
        transform: translateY(-782px);
    }
}

.header__input-burger-btn {
    width: 10px;
    height: 10px;
    overflow: hidden;
    position: absolute;
    clip: rect (0 0 0 0);
    left: -150%;
}


@media screen and (max-width:768px) {
    .header__logo {
        text-align: center;
    }

    .header__navigation {
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .header__logo {
        text-align: center;
    }

    .header__logo-link {
        text-decoration: none;
    }

    .header__navigation-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        text-align: center;
    }

    .header__navigation-link {
        padding: 0px 5px;
        text-decoration: none;
    }
}

@media screen and (max-width:777px) {
    .header__navigation-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width:576px) {
    .header__title-text strong {
        font-size: 42px;
    }

    .header__search-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .header__search-input {
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 53px;
        width: 100%;
        margin-bottom: 10px;
    }

    .header__search-form {
        margin-bottom: 20px;
    }

    .header__search-button {
        max-width: 650px;
        text-align: center;
    }
}


@media screen and (max-width:378px) {
    .header__title-text strong {
        font-size: 40px;
    }

    .header__search-input {
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 53px;
        width: 100%;
        margin-bottom: 10px;
    }

    .header__search-button {
        width: 100%;
    }

    .header__search-form {
        margin-bottom: 20px;
    }

    .header__input-burger-btn:checked~.header__burger-btn {
        position: fixed;
        z-index: 1;
        transform: translateY(-795px);
        left: 5.5%;
    }

    .header__burger-btn {
        transform: translateY(-130%);
        right: 5.5%;
    }
}

@media screen and (max-width:320px) {
    .header__title-text strong {
        font-size: 40px;
    }

    .header__search-input {
        padding: 0px 0px 0px 0px;
        text-align: center;
        line-height: 53px;
        width: 100%;
        margin-bottom: 10px;
    }

    .header__search-button {
        width: 100%;
    }

    .header__search-form {
        margin-bottom: 20px;
    }

    .header__input-burger-btn:checked~.header__burger-btn {
        position: fixed;
        z-index: 1;
        transform: translateY(-795px);
        left: 5.5%;
    }

    .header__burger-btn {
        right: 5.5%
    }
}

@media screen and (max-width:378px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        transform: translateY(-770px);
        left: 5.5%;
    }
}

@media screen and (max-width:377px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        transform: translateY(-770px);
        left: 5.5%;
    }
}

@media screen and (max-width:376px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        transform: translateY(-770px);
        left: 5.5%;
    }
}

@media screen and (max-width:376px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        transform: translateY(-796px);
        left: 5.5%;
    }
}

@media screen and (max-width:570px) {

    .header__input-burger-btn:checked~.header__burger-btn {

        position: fixed;
        z-index: 1;
        position: fixed;
        z-index: 1;
        top: 0.5%;
        left: 88%;
        transform: translate(0%, 0%);
        z-index: 2;
        transition: transform 1.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }
}

@media screen and (max-width:500px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        position: fixed;
        z-index: 1;
        position: fixed;
        z-index: 1;
        top: 7.5%;
        left: 87%;
        transform: translate(0%, 0%);
        z-index: 2;
    }
}

@media screen and (max-width:500px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        position: fixed;
        z-index: 1;
        position: fixed;
        z-index: 1;
        top: 0.5%;
        left: 86%;
        transform: translate(0%, 0%);
        z-index: 2;
    }
}

@media screen and (max-width:500px) {

    .header__input-burger-btn:checked~.header__burger-btn {

        position: fixed;
        z-index: 1;
        position: fixed;
        z-index: 1;
        top: 0.5%;
        left: 86%;
        transform: translate(0%, 0%);
        z-index: 2;
    }
}

@media screen and (max-width:400px) {

    .header__input-burger-btn:checked~.header__burger-btn {

        position: fixed;
        z-index: 1;
        position: fixed;
        z-index: 1;
        top: 0.5%;
        left: 84.5%;
        transform: translate(0%, 0%);
        z-index: 2;
    }
}

@media screen and (max-width:320px) {

    .header__input-burger-btn:checked~.header__burger-btn {
        position: fixed;
        z-index: 1;
        position: fixed;
        z-index: 1;
        top: 0.5%;
        left: 82%;
        transform: translate(0%, 0%);
        z-index: 2;
    }
}

@media screen and (max-width:1200px) {
    .header__container {
        height: 0%;
    }
}
