*{
    margin: 0;
    padding: 0;
 }
 body {
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
 }

.practice li::before {
 content: '';
 border: 1px solid black;
 border-radius: 50%;
 display: inline-block;
 height: 10px;  
 width: 10px;
 margin-right:10px;
}
