$green: green;
$grey: #ddd;

$body-bg-color:$grey;
$body-bg-color-1:#ddd;
$container-width: 600px;
$default-gap: 15px;

$font-default-name:'Roboto';
$font-secondary-font:'Roboto- Condensed';


$font-default: $font-default-name;

$follback: Arial, Helvetica, sans-serif;

$font-default: $font-default-name;

$default-font-size:14px;
