//Project Colors
$Mystic:#E2E7EC;
$White:#FFFFFF;
$Gray: #818181;
$CodGray:#1D1D1D;
$WildSand:#F5F5F5;
//Project Color Decoration
$body-bg-color:$Mystic;
$card-bg-color-deafult:$White;
$card-date-color:$Gray;
$first-card-text-color:$WildSand;
$other-card-text-color:$CodGray;


//Project Fonts

$font-default-name:'HansKendrick-Regular';
$font-follback: Arial, Helvetica, sans-serif;
$font-path:'../fonts/HansKendrick-Regular';
$default-font: $font-default-name, $font-follback;

// size
$default-font-size:14px;

//Project Fonts Decoration
$font-style-normal: normal;


//Conteiner Size and Gap
$container-width: 1140px;
$default-gap: 10px;




// $green: green;
// $grey: #ddd;

// $body-bg-color:$grey;

// $body-bg-color-1:#ddd;


// $font-default-name:'Roboto';
// $font-secondary-font:'Roboto- Condensed';


// $font-default: $font-default-name;

// $follback: Arial, Helvetica, sans-serif;

// $font-default: $font-default-name;

// $default-font-size:14px;


