*{
    margin: 0;
    padding: 0;
}

html {
    background-color: #b07cf7;
}


section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

header {
    width: 570px;
    margin: 100px auto 50px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

h1 {
    margin-bottom: 30px;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 75px;
}


.data {
    height: 60px;
    width: 60px;
    border: 1px  rgba(38, 38, 38, .7);
    border-radius: 5px;
    top:8%;
    left:10%;
    position: absolute;
    color: white;
    background-color: rgba(38, 38, 38, .7);
}

.info {
    position: absolute;
    top: 69%;
    left: 4%;
    color:  white;
    padding-left: 10px;
    padding-right: 25px;
}

.info>h5{
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.info>p{
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.data>p {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.lable{
    width: 370px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

img {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    position: relative;
    z-index: -2;
    display: block;
    
}

.main {
    display: flex;
    justify-content: center
}

.img::after {
    content: "";
    display: block;
    background-image: linear-gradient(to top,black 0%, transparent 100%);
    background-size: cover;
    background-position: center;
    width: 370px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 15px;
}

.img:hover {
    box-shadow: inset 0px 0px 28px rgb(255, 251, 0), 0 0px 30px rgb(255, 4, 4);
    transition: all 1s;
    border-radius: 5px;
}

.img:hover::after{
    content: "";
    display: block;
    background-image: linear-gradient(to top,black 0%, transparent 100%);
    background-size: cover;
    background-position: center;
    width: 370px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    transition: ease-in-out .5s;
    }
    
/*footer*/
.more {
    height: 55px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #f72b3b;
    text-align: center;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.more:hover {
    border-radius: 10px;
    transition: all 1s;
    background-color: rgb(89, 143, 8);
}

.more a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
