@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
        url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "MyriadProRegular";
}

header {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #00C9CC;
    padding: 80px;
}

header p {
    color: #9A9A9A;
    padding: 30px;
    line-height: 150%;
}

.sections {
    margin: 0 auto;
    max-width: 940px;
    max-height: 420px;
}

.sections div::after {
    content: '';
    display: block;
    clear: both;
}

.sections div {
    text-align: center;
    width: calc(25% - 2px);
    float: left;
    font-size: 14px;
    padding: 50px, 15px;
    border: 1px solid #ededed9a;
}

.sections h2 {
    text-transform: uppercase;
    overflow: hidden;
    height: 45px;
    padding-bottom: 20px;
}

div p {
    display: block;
    color: #797979;
    padding: 25px;
    padding-bottom: 40px;
}

svg {
    padding: 40px;
}
