* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 140px;
    padding-top: 140px;
}

header {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #00C9CC;
    font-family: 'Montserrat', sans-serif;
}

header p:first-child {
    color: #9A9A9A;
    font-weight: bold;
    font-size: small;
    margin-bottom: 35px;
    letter-spacing: 4px;
}

header h1 {
    margin-bottom: 45px;
    letter-spacing: 2px;
}

header p:last-child {
    color: #9A9A9A;
    line-height: 150%;
    margin-bottom: 105px;
}

.sections {
    margin: 0 auto;
    max-width: 940px;
    max-height: 420px;
}

.sections li::after {
    content: '';
    display: block;
    clear: both;
}

ul li {
    font-family: 'PT Sans', sans-serif;
    list-style-type: none;
    text-align: center;
    width: calc(25% - 2px);
    float: left;
    background-color: #F7F7F7;
    font-size: 14px;
    padding-top: 55px;
    padding-bottom: 100px;
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

li:last-child {
    border-right: 1px solid #EDEDED;
}

ul h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    height: 45px;
    padding-bottom: 20px;
}

li p {
    padding: 25px;
    padding-bottom: 40px;
}

svg {
    display: block;
    margin: 0 auto 25px;
}

li svg path {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
}

li:hover {
    background-color: #00C9CC;
    color: white;
    fill: white;
}
