* {
  margin: 0;
  padding: 0;
}


body {
  width: 786px;
  margin: 0 auto;
}


header {
  width: 780px;
  height: 35;
  background-color:brown;
  margin-left: 8px;
  margin-top: 29px;
  margin-bottom: 23px;
}


h1 {
font-size: 24px;
color:white ;
font-weight: 400;
font-family: "DejaVu Sans";
text-align: center;
}


.hero-img {
  margin-left: 8px; 
}


.hero-text {
  max-width: 730px;
  margin-left: 8px;
  margin-top: 25px;
  margin-bottom: 25;
}


p {
  font-size: 18px;
}


footer {
  width: 780px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 20px;
}

.img {
  text-align: center;
  margin-top: 20px;
}

.img img {
  border-style: dashed;
}
a {
  text-decoration: none;
}
