.info {
  display: flex; 
  position: relative;
}
.content {
  text-align: center;
}
.info__content-section,
.content {
  padding:  91px 58px 0px 80px;
  width: 50%;
 }

.content {
  border-left: 1px solid #ffcc00;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content__name {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #666666;
  font-size: 36px;

}

.content__name::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 1px;
  background: #ffcc00;
  margin-top: 30px; }

.content__position {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 24px;
  color: #666666;
  padding-top: 30px; }

  .social__network {
    padding-top: 30px;
  }

.netwok__link {
  border: 2px solid #cdcdcd;
  color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-top: 5px; }


.content__text {
  font-family:"Raleway"; 
  font-weight: 500;
  font-size: 14px;
  font-weight: 500;
  line-height: 24.5px;
  color: #cccccc;
  padding-top: 27px;
  position: relative; 
}

.content__text::after {
  display: block;
  margin: 0 auto;
  content: '';
  width: 50px;
  height: 4px;
  position: absolute;
  background-color: #ffcc00; 
  top: 162px;
  left: 193px;
}
  

.content__text::before {
  display: block;
  margin: 0 auto;
  content: '';
  border-left: 5px solid white;
  border-right: 5px solid white;
  width: 17px;
  height: 10px;
  position: absolute;
  top: 158px;
  left: 206px; 
  z-index: 2;
}

.view__btn{
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 1px solid #ffcc00;
  font-size: 14px;
  color: #666666;
  margin-top: 45px;
  width: 120px; 
  height: 24px;
}

