.info {
    display: flex; 
    position: relative;
}

.info__content-section,
.content {
    padding:  91px 58px 0px 80px;
    width: 50%;
}

.content {
    border-left: 1px solid $supernova;
    box-sizing: border-box;
    text-align: center; 

    &__name {
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      color: $dove-gray;
      font-size: 36px;
     }

    &__name::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background: $supernova;
    margin-top: 30px; 
    }

    &__position {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 24px;
    color: $dove-gray;
    padding-top: 30px; 
    }

    &__text {
    font-family:"Raleway"; 
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
    line-height: 24.5px;
    color: $silver;
    padding-top: 27px;
    position: relative; 
    }

    &__text::after {
    display: block;
    margin: 0 auto;
    content: '';
    width: 50px;
    height: 4px;
    position: absolute;
    background-color: $supernova; 
    top: 162px;
    left: 193px;
    }

    &__text::before {
    display: block;
    margin: 0 auto;
    content: '';
    border-left: 5px solid $color-white;
    border-right: 5px solid $color-white;
    width: 17px;
    height: 10px;
    position: absolute;
    top: 158px;
    left: 206px; 
    z-index: 2;
    }
}

.social__network {
      padding-top: 30px;
}

.netwok__link {
    border: 2px solid $silver;
    color: $silver;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-top: 5px; 
}

.view__btn {
    background: $color-white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    border: 1px solid $supernova;
    font-size: 14px;
    color: $dove-gray;
    margin-top: 45px;
    width: 120px; 
    height: 24px;
}
