.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 207px 15px 207px 15px  ;
}

.our-team-section-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.our-team__subtitle {
    font-size: 18px;
    line-height: 15px;
    color: #898f8f;
    font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 500; 
}
  
.our-team__title {
    font-size: 60px;
    line-height: 80px;
    color: #ffcc00;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    margin-bottom: 86px; 
    position: relative;
}
    
.our-team__title::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 450px;
    top: 117px;
    left: -70px;
    background-color: #ffcc00;
 }

 .our-team__title::before {
    content: '';
    position: absolute;
    left: 140px;
    top: 109px;
    width: 30px;
    height: 17px;
    background-image: url('../image/bonfire_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    z-index: 1;
 }






