.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $default-gap;
    box-sizing: border-box;
}

.row {
    display: flex;
    margin: 0 (-$default-gap);
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.col {
    width: 50%;
    padding: $default-gap;
    box-sizing: border-box;
}

.col__wrapper {
    background-color: #fff;
}
