* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/raleway-v19-latin-ext-300.woff2') format('woff2'),
        url('../fonts/raleway-v19-latin-ext-300.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/raleway-v19-latin-ext-regular.woff2') format('woff2'),
        url('../fonts/raleway-v19-latin-ext-regular.woff') format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/raleway-v19-latin-ext-700.woff2') format('woff2'),
        url('../fonts/raleway-v19-latin-ext-700.woff') format('woff');
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pacifico-v17-latin-ext-regular.eot');
    src: local(''),
        url('../fonts/pacifico-v17-latin-ext-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/pacifico-v17-latin-ext-regular.woff2') format('woff2'),
        url('../fonts/pacifico-v17-latin-ext-regular.woff') format('woff'),
        url('../fonts/pacifico-v17-latin-ext-regular.ttf') format('truetype'),
        url('../fonts/pacifico-v17-latin-ext-regular.svg#Pacifico') format('svg');
}



html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #262626;
    /* height: 866px; */
    /* background-image: url(../img/img.jpg);
    background-size: cover; */

}

textarea {
    resize: none;
}

.img-conteiner {
    /* height: 100%;
    width: 100%;     */
    /* margin: 0 auto; */
    background-image: url(../img/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1 0 auto;
    height: 866px;
    /* height: 100vh; */
    /* height: 866px; */
    /* align-self: center; */
    /* justify-content: center;
    align-items: center; */
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    /* flex: 1 0 auto; */

}

.contact {
    padding-top: 120.5px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 90px;
    line-height: 25px;
    text-align: center;
    color: #262626;
    margin-bottom: 62px;

}

.contact-text {
    width: 362px;
    margin: 0 auto;
    font-family: Raleway;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: #262626;
}


.content {
    display: flex;


}

.content__form-wrapper {
    display: flex;
    padding: 43px 5px 0px 15px;
    flex-direction: column;
}

.content__form .content__input {
    margin-bottom: 15px;
}

/* 
.content__contacts input {
    display: inline-block;
    margin-bottom: 15px;
} */

.content__form {

    flex: 0 0 500px;
    padding-right: 166px;
    box-sizing: border-box;
}

.content__contacts {
    flex: 0 0 500px;
}

.content__form-wrapper input,
.content__form-wrapper textarea {
    display: block;
    border: none;
    border-left: 5px solid transparent;
    padding: 0 15px;
    line-height: 50px;
    width: 500px;
    background-color: rgba(0, 196, 196, .4);
    color: #fff;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    transition: border-left .7s ease-in-out, background-color .5s ease;
}

.content__form-wrapper input::-webkit-input-placeholder,
.content__form-wrapper textarea::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    opacity: 1;
}

.content__form-wrapper input:focus::-webkit-input-placeholder,
.content__form-wrapper textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

.content__form-wrapper input:focus,
.content__form-wrapper textarea:focus {
    border: none;
    outline: none;
    border-left: 5px solid #355b82;
    font-weight: 700;
    background-color: rgba(0, 196, 196, .4);
}

.content__form-wrapper input {
    margin-bottom: 15px;
}

.content__form-wrapper textarea {
    height: 250px;
    resize: none;
}

.content__contacts {
    padding-top: 33px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 300;
    /* line-height: 25px; */
}

.content__contacts address {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;

}

.content__contacts h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 34.5px;
}

.content__contacts a {
    text-decoration: none;
    color: #000;
}

.content__contacts address {
    font-size: 20px;
}

.content__contacts a {
    font-size: 20px;
    letter-spacing: 1px;
}




/* .content__input {
    display: block;
    background-color: #00c4c4;
    opacity: 0.5;
    line-height: 33.3px;
    width: 495px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    padding: 20px;
    color: white;
    font-size: 15px;
    border: none;
    border-left: 5px solid rgba(53, 91, 130, 0);
} */


.footer {
    /* max-width: 1200px;
    margin: 0 auto; */
    flex-shrink: 0;
    display: flex;
    height: 90px;
    background-color: #262626;
    color: #b9b9b9;
    width: 1170px;
    margin: 0 auto;

}

.footer div {
    /* display: flex; */
    width: 33.33333%;
    box-sizing: border-box;
    /* padding: 0px 0px 0px 0px; */
    /* justify-content: center; */
    /* text-align: center; */
}

.footer__company {
    padding-top: 34px;
    text-align: left;
}

.footer__cahee {
    padding: 24px 0px 0px 162px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: rgb(185, 185, 185);
}

.footer__who-made {
    font-family: Raleway;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #b9b9b9;
    padding: 31px 0px 0px 197px;
}

.footer__link a {
    text-decoration: none;
    color: #ff2b58;
    font-weight: bold;
}
