/*container*/
$container-width: 680px;
$default-gap:110px 0;

$bg-color:#111a28;

/*fonts*/
$default-font:"Museo Sans Rounded 100",
Arial,
Helvetica,
sans-serif;

/*style for title*/
$title-color: #e1e1e1;
$title-size: 24px;

/*style for subtitle*/
$subtitle-color:#64686f;
$subtitle-size:14px;

/*style for border*/
$border-color: #a9aaad;

/*style for button*/
$bg-btn:#202835;
$border-btn:1px solid #4f5560;
$padding-btn:12px 0;
