.news {
  background: url('../image/Bgnews2.jpg') no-repeat 50% 0;
  background-size: cover;
  padding:180px 0 120px;
  position: relative;
  @media screen and (max-width:$medium) {
    padding:80px 0 50px;
  }
  @media screen and (max-width:$small) {
    padding:60px 0 30px;
  }
  p {
    font:normal 18px/30px $primary-font;
    color:$text-color;
    padding:1px 11px 3px 18px;

    @media screen and (max-width:$small) {
      font-size: 14px;

    }
  }

  &__image {
    overflow: hidden;
    position: relative;

    img {
      transition: transform .3s ease-in-out;
    }

    &:after {
      position: absolute;
      content: '';
      width: 50px;
      height: 50px;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      background-size: cover;
      background-image: url('../image/plusNews.png');
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    &:hover {

      &:after {
        opacity: 1;
      }
      img {
        transform: scale(1.05);
      }
    }
  }
}
.news__slide {
  background: $primary-color;
  //margin-left: 30px;
  height: 100%;
  img {
    display: block;
    width: 100%;
  }
}
.news__slider {
  display: flex;
  @media screen and (max-width:$medium) {
    overflow: hidden;
  }

  .swiper-container {
    padding-bottom: 88px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
    z-index: 3;
    @media screen and (max-width:$medium) {
      width: 100%;}
    .swiper-pagination-bullet {
      margin:  0 20px;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      background: none;
      opacity: 1;
      @media screen and (max-width:$medium) {
        margin:  0 10px;}
      @media screen and (max-width:$small) {
        margin:  0 5px;}
    }
    .swiper-pagination-bullet-active {
      background:white;
      color: #ffffff;
      opacity: 1;
    }
  }
}
.slide-title {
  font:normal 22px/34px $bolt-font;
  text-transform: uppercase;
  color:  #2c4058;
  font-size: 22px;
  padding: 22px 40px 0 23px;
  @media screen and (max-width:$xlarge) {
    width: 80%;
    @media screen and (max-width:$large) {
      font-size: 20px;

    }
    @media screen and (max-width:800px) {
      font-size: 22px;

    }
    @media screen and (max-width:$small) {
      font-size: 18px;

    }
  }
}
.icon-cheveron-outline-left {
  position: absolute;
  top: 51%;
  width: 40px;
  height: 40px;
  left: -80px;
  fill: $primary-color;
  cursor: pointer;
}
.icon-cheveron-outline-right {
  position: absolute;
  top: 51%;
  width: 40px;
  height: 40px;
  right: -79px;
  fill: $primary-color;
  cursor: pointer;
}
.slide-author {
  display:flex;
  padding:30px 0 30px 18px;

  .author-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    & h5 {
      color:  #2c4058;
      font:normal 18px/2 $book-font;
      text-transform:uppercase;
      margin: 0;
    }
    & time {
      font:300 14px/22px $book-font;
      color:  #55b7ff;

    }
  }
}
.wrap{
  overflow-x: hidden;
}
