.what-do {
  color:  #2c4058;
  padding:110px 0 23px;
  @media screen and (max-width:$medium) {
    padding-top:80px;
  }
  @media screen and (max-width:$small) {
    padding-top:60px;
  }
  &__suptitle {
    font:300 22px/1 $book-font;
    margin: 0;
    text-transform: uppercase;
    @media screen and (max-width:$medium) {
      font-size: 18px;
    }
    @media screen and (max-width:$small) {
      font-size: 14px;
    }
  }
  &__title {
    font:700 44px/1.4 $bolt-font;
    margin: 0;
    text-transform: uppercase;
    @media screen and (max-width:$medium) {
      font-size: 36px;
    }
    @media screen and (max-width:$small) {
      font-size: 24px;
    }
  }
  p {
    font:400 18px/1.6 $primary-font;
    color: $text-color;
    margin-bottom: 33px;
    padding-top: 18px;
    @media screen and (max-width:$medium) {
      font-size: 16px;
    }
    @media screen and (max-width:$small) {
      font-size: 13px;
      margin-bottom: 10px;
    }

  }
  & address {
    margin-top: 50px;
    margin-bottom: 34px;
    @media screen and (max-width:$medium) {
      font-size:22px;
      margin-top: 38px;
      margin-bottom: 40px;
    }
    @media screen and (max-width:$small) {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

}
.joel {
  display:inline-block;
  width: 92%;
  position: relative;
  margin-top: -55px;
  }
.be-back{
  position: relative;
}
.be-back::before {
  content: '';
  width: 130%;
  height: 470px;
  position: absolute;
  z-index: -1;
  background-color: #55b7ff;
  bottom: 158px;
  right: 46%;
  @media screen and (max-width:$medium) {
    display: none;}
  }
.house {display:block;
  width: 100%;
  position: relative;
  &:before {

}}
.af-back{
  position: relative;
  padding-left: 53px;
  @media screen and (max-width: $medium) {
    padding: 0
  ;}
}
.af-back:before {
  content: '';
  width: 130%;
  height: 470px;
  position: absolute;
  z-index: -1;
  background-color: #7e5aff;
  bottom: 68px;
  left: 46%;
  @media screen and (max-width:$medium) {
    display: none;}
}
.col-7 {
  @media screen and (max-width: $medium) {
    max-width: none;
  }
}
.col-5 {
  width:50%;
  @media screen and (max-width:$medium) {
    max-width: none;}

  &--right {
    padding:0px 0 117px 16px;

  }
  &--left {
    padding-top:56px;
  }
  @media screen and (max-width:$medium) {
    width: 75%;
    margin: 0 auto;
    padding:10px 0;
  }
  @media screen and (max-width:$small) {
    font-size: 28px;

  }
}
.section-title {
  font:700 44px/1 $bolt-font;
  margin:24px 0 219px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  @media screen and (max-width:$medium) {
    font-size: 36px;
    margin-bottom: 80px;
  }
  @media screen and (max-width:$small) {
    font-size: 28px;
    margin:-36px 0 63px ;
  }

  &.section-title--white {
    font-weight: 500;
    font-family: $medium-font;
    margin: -7px 0 92px;
    letter-spacing: 1.25px;
    &:after {
      border:1px solid $primary-color;
    }
  }

    @media screen and (max-width:$medium) {
      font-size: 36px;
      margin-bottom: 70px;
    }
    @media screen and (max-width:$small) {
      font-size: 28px;
      margin-bottom: 50px;
    }

  &--gallery {
    font-weight: 500;
    color:#2C4058;
    margin-bottom: 95px;
    @media screen and (max-width:$medium) {
      font-size: 36px;
      margin-bottom: 60px;
    }
    @media screen and (max-width:$small) {
      font-size: 28px;
      margin-bottom: 40px;

    }
  }
  &--contact {
    color:#2C4058;
    font-weight: 500;
    font-family: $medium-font;
    margin-bottom: 33px;
    letter-spacing: 1px;
    @media screen and (max-width:$medium) {
      font-size: 36px;
      margin-bottom: 20px;
      &:after {
        top: -20px;
      }
    }
  }
  &:after {
    position:absolute;
    content: '';
    width: 98px;
    border:1px solid #2C4058;
    left: 50%;
    transform: translateX(-50%);
    top: -37px;
    @media screen and (max-width:$small) {
     display: none;
  }}
}

.row {
  display: flex;
  margin-bottom: 122px;
  flex-wrap:wrap;
  @media screen and (max-width:$large) {
    margin-bottom: 0;
    text-align:center;
  }
  @media screen and (max-width:$medium) {
    flex-direction: column;
    margin:0 auto;
  }
  }
.row--reverse{
  @media screen and (max-width:$medium) {
    flex-direction: column-reverse;
  }
}
