.blog {

    min-height: 864px;
    background: #b07cf7;

    &__title_name {
        color: white;
        text-align: center;
        padding-bottom: 32px;
        font-size: 90px;
    }

    &__title_description {
        font-weight: 300;
        font-size: 17px;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: white;
        line-height: 1.5;
        padding-bottom: 44px;
    }

    &__item {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
    }

    &__data {
        height: 60px;
        width: 60px;
        border: 1px  rgba(38, 38, 38, .7);
        border-radius: 5px;
        top:30px;
        left:45px;
        position: absolute;
        color: white;
        background-color: rgba(38, 38, 38, .7);
    }

    &__day {
        text-align: center;
        font-size: 32px;
        color: white;
        font-weight: 700;
        line-height: 1;
    }

    &__month {
        text-align: center;
        color: white;
        font-weight: 900;
        font-size: 21px;
        line-height: 1;
    }

    &__info {
        position: absolute;
        color:  white;
        top: 55%;
        padding-left: 20px;
        padding-right: 25px;
        display: block;
    }

    &__info-title{
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    &__info-autor{
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 13px;
    }

}

.blog_img {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
}


.blog_img_container::after {
    content: "";
    display: block;
    background-image: linear-gradient(to top,black 0%, transparent 100%);
    background-size: cover;
    width: auto;
    min-width: 93%;
    height: 50%;
    position: absolute;
    top: 45%;
    left: 15px;
}

.blog__button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__button {
    height: 55px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #f72b3b;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}
