.contacts {

    &__form {
        background-image: url(../image/contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding: 90px 0 123px 0;
    }

}

.form {
    &__title {
        @include title-style;

        margin-bottom: 30px;

        @include media('sm') {
            font-size: 50px;
        }
    }

    &__content {
        font-weight: 300;
        font-size: 17px;
        max-width: 370px;
        margin: 0 auto;
        margin-bottom: 37px;
        line-height: 25px;
    }
}

.submit-form {
    display: flex;

    justify-content: space-between;

    &__input {
        margin-bottom: 15px;
        display: block;
        border: none;
        border-left: 5px solid transparent;
        padding: 0 15px;
        line-height: 50px;
        width: 495px;
        background-color: rgba(0, 196, 196, 0.5);
        color: $color-white;
        font-size: 15px;
        font-family: $font-default-name;
        transition: border-left .3s ease,
            background-color .3s ease;

        @include media('lg') {
            margin: 0 auto 15px;
        }

        @include media('sm') {
            width: 100%;
        }
    }

    &__textarea {
        display: block;
        border: none;
        border-left: 5px solid transparent;
        padding: 0 15px;
        line-height: 50px;
        width: 495px;
        background-color: rgba(0, 196, 196, 0.5);
        color: #fff;
        font-size: 15px;
        transition: border-left .3s ease, background-color .3s ease;
        height: 250px;
        resize: none;
        font-family: $font-default-name;
        font-weight: 500;

        @include media('lg') {
            margin: 0 auto;
        }

        @include media('sm') {
            width: 100%;
        }
    }

    @include media('lg') {
        flex-direction: column;
    }
}

.submit-form__input:focus,
.submit-form__textarea:focus {
    border: none;
    outline: none;
    border-left: 5px solid $chambray;
    font-weight: 700;
    background-color: rgba(0, 196, 196, 1);
}

.info {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 85px;
    margin-right: 185px;
    line-height: 1.25;

    &__title {
        font-weight: 700;
        font-size: 17px;
        text-transform: uppercase;
    }

    &__address {
        font-style: normal;
        font-size: 20px;
    }

    &__link {
        font-style: normal;
        font-size: 20px;
        text-decoration: none;
        color: #262626;
    }

    @include media('lg') {
        margin: 10px auto 0;
    }
}

.info__title:not(:first-of-type) {
    margin-top: 15px;

}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
    color: $color-white;
    font-size: 15px;
    opacity: 1;
}
