.our-services {
    background-color: $Malibu;
    min-height: 790px;

    &__background {
        background: url(../image/our-services.png) ;
        background-repeat: no-repeat;
        background-position: center center;
        height: 523px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
            @include media('md') {
                width: 50%;
            }
    }

    &__content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__title {
        font-size: 90px;
        color: $color-white;
        padding-left: 25px;
        padding-top: 45px;
        position: absolute;

        @include media('md') {
            font-size: 69px;
        }
    }

    &__wrapper{
        display: block;
        top: 0;
        width: 100%;
        height: 100%;
    }

}

.features {

    &__container {
    display: flex;
    justify-content: center;
    padding-left: 45px;
    padding-top: 165px;
    }


    &__list {
        display: flex;
        flex-direction: column;
    
        @include media('md') {
            width: 100%;
        }
    }

}


.list {

    &__item {
        background-color: $color-white;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
            &:hover {
                box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.9)
            }
    }

    &__link {
        text-decoration: none;
        height: 100px;
        width: calc(100% - 20px);
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    
}




.link__title {
    font-size: 20px;
    color: #262626;
    width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    border-right: 1px solid $silver;
    align-items: center;
}


.our-services-box {
    @include media('lg') {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}


