.our-services {
    background-color: #70bfff;
    min-height: 790px;
}

.features__container{
    display: flex;
    justify-content: center;
    padding-left: 45px;
}

.our-services__title {
    font-size: 90px;
    color: white;
    padding-top: 20px;
}

.features__list {
    display: flex;
    flex-direction: column;
}

.list__item {
    background-color: white;
    margin-bottom: 20px;
}

.list__link {
    text-decoration: none;
    height: 100px;
    width: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.link__title {
    font-size: 20px;
    color: #262626;
    width: 55%;
    display: flex;
    justify-content: center;
    text-align: center;
}


.our-services__background {
    background: url(../image/our-services.png) ;
    background-repeat: no-repeat;
    height: 523px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.link__title::after{
    content: '';
    display: block;
    position: absolute;
    height: 100px;
    width: 1px;
    top: 0px;
    left: 300px;
    background-color: #9d9d9d;
}
