.subscribe {
    background: url(../image/subscribe-to.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.subscribe__title {
    font-size: 40px;
    padding-top: 150px;
}

.subscribe__message {
    font-size: 17px;
    padding-top: 35px;
}

.subscribe__button {
    width: 170px;
    height: 55px;
    background-color: #96b92c;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
