@include grid();

.page {
    font-family: $font-dafault;
    font-size: $default-font-size;
    line-height: 1.4;
    min-height: 100vh;
    color: $default-color-text;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $default-gap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);

        @include media('md') {
        justify-content: center;
        align-items: center;
        }
}

[class^="col-"] {
    padding: $default-gap;
}

.row_relative {
    position: relative;
}

img {
    max-width: 100%;
}
