$alto: #ddd;
$green: green;
$chambray:#3b5998;
$color-white: white;
$color-black: #000;
$grey: #bababa;
$orange: #ff6033;
$signal-balck: #282828;
$silver:#b9b9b9;
$radical-red:#ff2b58;
$Heliotrope: #b07cf7;
$Bondi-Blue: #00b2b2;
$Bright-Sun: #FFE92F;
$Malibu:#70bfff;
$Atlantis:#96B92C;

$input-border-color: $grey;
$default-border-radius: 5px;

$default-border: 1px solid $input-border-color;

$container-width: 1200px;
$default-gap: 15px;

$font-folder-path: '../fonts/';
$folder-image: '../image/';

$font-default-name: 'Raleway';
$font-secondary-name: 'Roboto';
$font-logo-name: 'Pacifico';


$follback: Arial,
Helvetica,
sans-serif;

$font-dafault: $font-default-name,
$follback;
$font-secondary: $font-secondary-name,
$follback;

$default-font-size: 12px;
$default-color-text: $color-black;

$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);
