.footer {
 background-color: #262626;
    // .footer__section

    &__section {
    }

    // .footer__content

    &__content {
    display: flex;
    justify-content: space-between;
    color: #b9b9b9;
    font-family: $font-main;

    @media screen and (max-width:576px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }

    

    }

    // .footer__company

    &__company {
        font-size: 16px;
        font-weight: 300;
        font-family: $font-main;

        @media screen and (max-width:576px) {
            order: 2;
            
        }
    }

    // .footer__cahee

    &__cahee {
        font-family: 'Pacifico', cursive;
        font-size: 25px;
        
    }
    

    // .footer__who-made

    &__who-made {
        font-family: $font-main;
        font-size: 15px;

    }

    // .footer__link

    &__link {
        text-decoration: none;
        color: #ff2b58; 
        font-weight: 700;
        font-family: $font-main;
    }
}
.row {
}
.col-12 {
}
