.header {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: auto;
    width: 100%;
   

    // .header__logo

    &__logo {
        
        @media screen and ( max-width: 992px) {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        
    }

    // .header__nav

    &__nav {
       

    }
    &__input {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);

        &:checked {
            &+.header__burger-btn .burger-btn__line{
                background-color: transparent;

                &::after,
                &::before {
                    top:unset;
                    bottom: unset;
                }
                &::after {
                    transform: rotate(45deg);
                }
                &::before {
                    transform: rotate(-45deg);
                }


            }
        } 
    }

    // .header__link

    &__link {
     text-decoration: none;
     font-size: 16px;
     font-family: $font-main;
     font-weight: 700;
     color: $main-dark;
     
     }
    }
.container {
}
.row {
}
.col-3 {
}
.col-9 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    @media screen and ( max-width: 992px) {
        justify-content: center;
    }
    
}

.navigation__menu {
    display: flex;

    @media screen and ( max-width: 768px) {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

}
.menu__item_link_active .header__link::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color:$btn-collor-general;

    @media screen and ( max-width: 768px) {
        display:none;
    }


}
.header__link {
    position: relative;
    padding-top: 9px;

}
.menu__item {
    padding-left: 40px;

    @include media ('md') {
        padding-left: 5px;
    }
   
}
.header_padd {
    padding-top: 40px;
} 

.header {

    // .header__burger-btn

    &__burger-btn {
        
    }
}
.burger-btn {
border: 2px solid black;
border-radius: 3px;
display: inline-block;
width: 40px;
height: 40px;
display: none;
justify-content: center;
align-items: center;
    // .burger-btn__line

    &__line {
        
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 25px;
            height: 3px;
            background-color: black;
            position: absolute;
        }
        &::before {
            top: -8px;
        }
        &::after {
            bottom: -8px;

        }

    }
}
