$boby-bg-color: #ffffff;
$nav-Mine-Shaft: #262626;;
$button-active-Outrageous-Orange: #ff6033;
$outrageous-orange:#FF6033;
$mine-shaft:#262626;
$white:#ffffff;
$red-orange:#F72B3B;
$atlantis:#96B92C;
$horizon:#5585A2;
$robins-egg-blue:#00BBBB;
$malibu:#70BFFF;
$bright-sun:#FFE92F;
$heliotrope:#B07CF7;
$aquamarine-blue:#7CDEDE;
$text-area-collor-form:$aquamarine-blue;
$bg-collor-blog:$heliotrope;
$bg-collor-s-gallery:$bright-sun;
$bg-collor-s-services:$malibu;
$bg-collor-s-about:$robins-egg-blue;
$btn-collor-gallery:$horizon;
$btn-collor-sub:$atlantis;
$btn-collor-blor:$red-orange;
$main-light:$white;
$main-dark:$mine-shaft;
$btn-collor-general:$outrageous-orange;




$font-main:'Raleway', Arial, Helvetica, sans-serif;

$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);

$container-width: 1200px;
$default-gap: 10px;

