* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

body,
input,
textarea {
    font-family: 'Raleway', sans-serif;
}

body,
.info a {
    color: #262626;
}

.form_section {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 98px 0 117px 0;
}

.form_section h2 {
    font-weight: 700;
    font-size: 90px;
    line-height: 25 px;
    margin-bottom: 18px;
}

.contact_form h3 {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.form_section .content {
    font-size: 17px;
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 37px;
}

p,
a,
address {
    font-weight: 300;
}

.contact_form {
    max-height: 448px;
}

.form,
.info {
    display: inline-block;
}


.contact_form {
    font-size: 0;
}

.info {
    text-align: left;
    vertical-align: top;
    margin-left: 85px;
}

.info address,
.info a {
    font-style: normal;
    font-size: 20px;
}

.form input,
.form textarea {
    display: block;
    border: none;
    border-left: 5px solid transparent;
    padding: 0 15px;
    line-height: 50px;
    width: 495px;
    background-color: rgba(0, 196, 196, 0.5);
    color: #fff;
    font-size: 15px;
    transition: border-left .3s ease, background-color .3s ease;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    opacity: 1;
}

.form input:focus::-webkit-input-placeholder,
.form textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

.form input:focus,
.form textarea:focus {
    border: none;
    outline: none;
    border-left: 5px solid #355b82;
    font-weight: 700;
    background-color: rgba(0, 196, 196, 1);
}

.form input {
    margin-bottom: 15px;
}

.form textarea {
    height: 250px;
    resize: none;
}

a {
    text-decoration: none;
}

.info h3:not(:first-of-type) {
    margin-top: 15px;
}

footer {
    padding: 29px 0;
    background-color: #262626;
    color: #b9b9b9;
}


.logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    color: #b9b9b9;
    font-size: 25px;
}

.made span {
    color: #ff2b58;
    font-weight: 700;
}


footer .container {
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 16px;
    line-height: 35px;
}
