* {
    padding: 0;
    margin: 0;
}

section {
    padding: 51px 0;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    padding: 47px 0;
    width: 100%;
    background: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 401px;
    box-shadow: -3px 16px 19px -6px rgba(0, 0, 0, 0.69);
}

.wrapper {
    max-width: 260px;
    margin: 0 auto;
}

body,
input,
button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #fbf6e4;
}

input[type="radio"] {
    display: none;
}

#signup+label {
    margin-right: 20px;
}

.sign,
.log {
    padding-top: 44px;
    display: none;
}


#signup:checked~.log,
#login:checked~.sign {
    display: block;
}

.sign button,
.log button {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #23ae92;
    border: none;
    cursor: pointer;
}

#signup+label,
#login+label {
    color: #e1c2f1;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    cursor: pointer;
}

form label:not([type="checkbox"]+span) span {
    font-size: 16px;
    display: inline;
}

#signup:checked+label,
#login:checked+label {
    color: #fbf6e4;
    border-bottom: 2px solid #e66a64;
}

form input[type="text"],
form input[type="password"] {
    border: none;
    border: 1px solid #9b85c7;
    background: rgba(0, 0, 0, 0);
    display: block;
    line-height: 33px;
    width: 262px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

form a {
    font-size: 13px;
    color: #9895c2;
    display: inline;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #473cb3;
}

form a:hover {
    color: #fbf6e4;
    border-bottom: 1px solid #fbf6e4;
}

.keep,
.agree {
    display: none;
    font-size: 13px;
}

input[type="checkbox"]+span {
    position: relative;
    padding-left: 23px;
}


input[type="checkbox"]+span::before {
    content: " ";
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-color: #fbf6e4;
    top: 0;
}

input[type="checkbox"]+span::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 6px;
    border: 2px solid white;
    border-top: 0;
    border-left: 0;
    top: 3px;
    left: 5px;
    transform: rotate(45deg);
    display: none;
}

label[for="agree"] {
    display: inline-block;
}

.keep:checked+span::before,
.agree:checked+span::before {
    background: #23ae92;
}

.keep:checked+span::after,
.agree:checked+span::after {
    display: block;
}

.div {
    padding-bottom: 40px;
}

.log .div {
    margin-top: 15px;
}

.name span,
.surname span,
.password span,
.confirm span {
    line-height: 33px;
}
