/*fonts*/
@font-face {
    font-family: "weather";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/weathericons-regular-webfont.ttf"),
        url("../fonts/weathericons-regular-webfont.eot"),
        url("../fonts/weathericons-regular-webfont.woff") format("woff"),
        url("../fonts/weathericons-regular-webfont.woff2"),
        url("../fonts/weathericons-regular-webfont.svg") format("svg");
}

* {
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

html {
    background-color: #2b81ac;
}

/*header*/

header{
    max-width: 970px;
    width: auto;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 40px;
    color: white;
    font-family: 'Lucida Sans Unicode','Lucida Grande','sans-serif';
    font-size: 19px;
}

body {  
    background-color: #3399cc;
    margin: 25px;
}

/*content*/
.container {
    max-width: 970px;
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.cities {
    list-style: none;
    font-family: "weather";
    text-align: center;
    font-size: 0;
    border: 3px solid white;
}

.cities li {
    padding-top: 35px;
    padding-bottom: 30px;
    display: inline-block;
    font-size: 25px;
    color: white;
    box-sizing: border-box;
    border: 3px solid white;
    font-family: 'Lucida Sans Unicode','Lucida Grande','sans-serif';
}

.cities>li>i{
    display:block;
}

.cities:hover>li{
    opacity: 0.6;
}

.cities li:hover{
    opacity: 1;
}

i{
    font-family: "weather";
}

li>p{
    opacity: 0.6;
}

li>p>span{
    vertical-align: super;
    font-size: 60%;
}

li:nth-child(1){
    background-color: #3399cc;
    width: 50%;
}

li:nth-child(2){
    background-color: #33cccc;
    width: 25%;
}
li:nth-child(3){
    background-color: #996699;
    width: 25%;
}
li:nth-child(4){
    background-color: #c24747;
    width: 25%;
}

li:nth-child(5){
    background-color: #e2674a;
    width: 25%;
}
li:nth-child(6){
    background-color: #ffcc66;
    width: 25%;
}

li:nth-child(7){
    background-color: #99cc99;
    width: 25%;
}

li:nth-child(8){
    background-color: #669999;
    width: 25%;
}

li:nth-child(9){
    background-color: #cc6699;
    width: 50%;
}
li:nth-child(10){
    background-color: #339966;
    width: 25%;
}
li:nth-child(11){
    background-color: #666699;
    width: 100%;
}

/*footer*/

footer {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 108px;
    max-width: 970px;
    width: auto;
    color: white;
    font-family: 'Lucida Sans Unicode','Lucida Grande','sans-serif';
    font-size: 18px;
}
