@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/pt-sans-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/pt-sans-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin-700.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.container {
    max-width: 940px;
    padding: 10px;
    margin: 0 auto;
}

.top-title,
.title,
.feature-title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.top-title {
    font-weight: bold;
    color: #898f99;
    font-size: 12px;
    letter-spacing: 5px;
    margin-bottom: 11px;
    padding-left: 25px;
}

.title {
    color: #0ec8cb;
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 19px;
}

.hello-namaste {
    padding: 130px 0;
}

.text-sub-title {
    color: #999999;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    max-width: 530px;
    margin: 22px auto 104px;
    letter-spacing: 1.2px;
}

.feature-list {
    display: flex;
    list-style-type: none;
    text-align: center;
    border: 1px solid #ececec;
}

.feature-item:not(:last-child) {
    border-right: 1px solid #ececec;
}

.feature-item {
    padding: 55px 25px 82px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
}

.feature-item:hover {
    background-color: #0ec8cb;
}

.feature-title {
    color: #1b1b1b;
    max-width: 170px;
    margin: 0 auto 11px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 1.3;
}

.feature-item:hover .feature-title {
    color: #fff;
}

.feature-item>p {
    color: #777777;
}

.feature-item:hover p {
    color: #fff;
}

.feature-item svg {
    fill: #1b1b1b;
    margin-bottom: 33px;
}

.feature-item:hover svg {
    fill: white;
}
