$alto: #ddd;
$green: green;

$container-width: 800px;
$default-gap: 27px;

$body-bg-color: $green;
$border-color: $alto;

$font-default-name: 'Roboto Condensed';
$font-secondary-name: 'Roboto';

$follback: Arial,
Helvetica,
sans-serif;

$font-dafault: $font-default-name,
$follback;
$font-secondary: $font-secondary-name,
$follback;

$default-font-size: 12px;
