@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
   src: url(../fonts/OpenSans-Regular.ttf) format('truetype'),
    url(../fonts/opensans.woff) format('woff'),
    url(../fonts/opensans.woff2) format('woff2');
}

   @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype'),
    url(../fonts/opensansitalic.woff) format('woff'),
    url(../fonts/opensansitalic.woff2) format('woff2'); 
        
  }

  @font-face {
    font-family: 'Gotham';
    font-style: medium;
    font-weight: 500;
    src: url('../fonts/Gotham\ Medium\ Regular.ttf') format('truetype'),
    url(../fonts/gotham-medium-webfont.woff) format('woff'),
    url(../fonts/gotham-medium-webfont.woff2) format('woff2'); 
        
  }
  @font-face {
    font-family: 'Gotham';
    font-style: bold;
    font-weight: 700;
    src: url('../fonts/GothamBold.ttf') format('truetype'),
    url(../fonts/gothambold1.woff) format('woff'); 
        
  }
  @font-face {
    font-family: 'GothamBook';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GothamBook.ttf') format('truetype'),
    url(../fonts/GothamBook.woff) format('woff'),
    url(../fonts/) format('woff2'); 
        
  }


  
