.hero {
    display: flex;
    position: relative;

    &__slide {
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 700px;
    }

    &__title {
        padding: 35px;
    }

    &__title-text {
        color: $color-primary-light;
        font-family: $font-Gotham;
        font-size: 80px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }
    }

    &__sub-title-text {
        color: $color-primary-light;
        font-family: $font-Gothambook;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 5.4px;
        font-size: 18px;
        text-align: center;
        display: block;
    }

    &__scroll {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
    }

    .slick-prev,
    .slick-next {
        width: 1px;
        height: 1px;
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0)
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 9px;
        height: 9px;
        color: black;
        padding: 5px;
        cursor: pointer;
        border: 1px solid #fff;
        background-color: transparent;
        outline: none;
        border-radius: 50%;
        margin-bottom: 40px;
        @media screen and (max-width: 992px) {
           margin: 10px;
        }
    }

    .slick-dots li.slick-active button {
        background-color: #fff;
    }

    .slick-dots {
        position: absolute;
        right: 6%;
        top: 50%;
        @media screen and (max-width: 992px) {
            bottom: 0;
            left: 50%;
            display: flex;
            top: 95%;
            transform: translate(-50%, -50%);
            justify-content: center;
        }
    }
}

.scroll {
    color: $color-primary-light;
    z-index: 1;
    // position: absolute;

    &__down {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        text-decoration: none;

        &:hover {
            opacity: 0.4;
        }
    }
}

.slick-initialized .slick-slide {
    display: flex;
}
