* {
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

.sect{
	margin: 0 auto;
	height: 100%;
	background-color: #39c;
	border: 10px solid #2b81ac;
}
.container{
	width:  60%;
	padding: 0;
	margin: 0 auto;
	color: #fff;
	font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
h1 {
	display: inline-block;
}

.list{
	padding: 0;
	border: 3px solid;
	font-size: 0px;
	background: #fff;
}
.city{
	list-style: none;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	padding: 16px 0;
	border: 3px solid #fff;
	transition: all .1s ease-in;
}

.wi{
	font-size: 25px;
}

.city-medium{
	width: 50%;
}

.city-small{
	width: 25%;
}

.city-large{
	width: 100%;
}

.city span{
	display: block;
	margin-top: 15px;
	color: rgba(255, 255, 255, 0.7);
} 
.city-blue{
	background-color: #39c;
}

.city-lightblue{
	background-color: #3cc;
}
.city-purple{
	background-color: #969;
}
.city-red{
	background-color: #c24747;
}
.city-orange{
	background-color: #e2674a;
}
.city-yellow{
	background-color: #ffcc66;
}
.city-lightgreen{
	background-color: #9c9;
}
.city-grayblue{
	background-color: #699;
}
.city-pink{
	background-color: #c69;
}
.city-green{
	background-color: #396;
}
.city-violet{
	background-color: #669;
}
ul:hover li:not(:hover) {
	opacity: 0.7;
}
