.enjoy {
    padding-bottom: 82px;
    background-color: #333333;
    padding-top: 72px;
    position: relative;

    @media screen and (max-width:768px) {
        padding: 10px 0 20px;
    }

    &_flex {}

    &_svg {
        text-align: center;
        margin-bottom: 25px;
        height: 65px;

    }

    &__row {}

    &__col {}

    &__title {
        color: #e8e8e8;
        font-size: 36px;
        font-family: $font-aleo;
        font-weight: 400;
        text-align: center;
        line-height: 26px;
    }
}

.container {}

.row {}

.col-4 {}

.row {}

.enjoy {

    &_flex {}

    &_after {}

    &__row {}

    &__col {}
}

.col-4 {}

.duga {
    height: 40px;
    position: relative;
    overflow: hidden;
}

.duga::after {
    display: block;
    content: '';
    position: absolute;
    border: 1.5px dotted white;
    background-size: 3px 1px;
    border-radius: 100%;
    height: 300px;
    width: 120%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;

    @media screen and (max-width:768px) {
        display: none;
    }

}

.enjoy_after {
    justify-content: center;
}

.enjoy__hover {
    fill: #5474fd;

    @media (min-width:992px) {
        &:hover {
            fill: #ff6363;
        }

    }
}
