$Dodger-Blue:#5474fd;
$white:#fff;
$Mercury:#e8e8e8;
$btn-color:$Dodger-Blue;
$sub-title:$Mercury;
$title-color:$white;

$font-josefin:'Josefin Sans',Arial, Helvetica, sans-serif;
$font-aleo:'Aleo',Arial, Helvetica, sans-serif;

$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);

$container-width: 1140px;
$default-gap: 15px;

