body {
    background-color: #990909;
}

p {
    font-size: 18px;
}
.gradient {
    background-color: #9a0909;
    width: 430px;
    height: 17px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.gradient::after,
.gradient::before {
    content: "";
    display: block;
    width: 430px;
    height: 1px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

.head_link {
    text-decoration: none;
    color: white;
}

/*pictures*/
.pictures {
    overflow: auto;
    background-color: black;
}
.pic_name {
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
}

.pic_cont {
    padding-top: 15px;
    width: 25%;
    float: left;
    text-align: center;
}

.main_box {
    width: 100%;
    height: 290px;
    margin: 0 auto;
    display: flex;
}
/*left side*/
.left {
    margin-top: 2px;
    width: 200px;
    height: 290px;
    float: left;
    text-align: center;
    background-color: #7d0909;
}

/*main text*/
.main_text {
    width: 88%;
    float: left;
    text-align: center;
    color: white;
    margin: 0;
}
/*right side*/
.right {
    margin-top: 2px;
    width: 245px;
    height: 290px;
    float: left;
    text-align: center;
    background-color: #e3dddd;
}
.title_background {
    margin-top: 0;
    margin-bottom: 10px;
    background-color: #bdbdbd;
    display: block;
}
.link {
    color: #e95b0e;
}

.bottom_border {
    margin-top: 1px;
}

:nth-child(-n + 3).bottom_border {
    content: "";
    border-bottom: 1px solid;
    border-color: white;
}

:nth-child(-n + 3).bottom_border::after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    border-color: #9a9a9a;
}

/*footer*/
.footer {
    height: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #e95b11;
}
