@include fonts($font-primary-name, "gotham_book", 400);

@include fonts($font-secondary-name, "gotham_medium", 400);

@include fonts($font-third-name, "gotham_bold", 700);

@include fonts($font-fourth-name, "opensans_regular", 400);
