.footer {
    @include bg-cover("..//image/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: $color-heliotrope;
    // Установить margin когда будет карта
    // margin-top: -164px;

    &__container {
        // Для Perfect pixel
        // padding-top: 400px;
    }

    &__contact-wrapper {
        margin: 0 auto;
        justify-content: center;
        background-color: $color-white;
        max-width: 770px;
        margin-bottom: 55px;
        // background-color: green;
        // Установить margin когда будет карта
        // margin: -340px auto 0;
    }

    &__contact-header-title {
        font-family: $font-secondary-name;
        font-weight: normal;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        color: $color-pickled-bluewood;
        padding-top: 85px;
        margin-bottom: 43px;

        &_color {}
    }

    &__contact-content-wrapper {}

    &__contact-content {}

    &__contact-adress {

        &_position {
            padding-left: 61px;
            margin-bottom: 24px;
        }
    }

    &__contact-svg {}

    &__contact-tel {
        display: block;

        &_position {
            padding-left: 66px;
            margin-bottom: 24px;
        }
    }

    &__contact-email {
        display: block;

        &_position {
            padding-left: 67px;
            margin-bottom: 24px;
        }
    }

    &__contact-time {

        &_position {
            padding-left: 65px;
        }
    }

    &__contact-form {

        &_position {
            margin-bottom: 40px;
        }
    }

    &__contact-form-name,
    &__contact-form-email {
        display: block;
        box-sizing: border-box;
        font-size: 100%;
        margin: 0;
        overflow: visible;
        color: $color-pickled-bluewood;
        outline: none;
        border: transparent;
        border-bottom: 1px solid #d5d9de;
        font-weight: 600;
        padding: 6px 0 16px 10px;
        width: 83%;
        font-size: 18px;
        font-family: $font-primary-name;
        line-height: 1.222;
        // -webkit-text-size-adjust: 100%;
        // line-height: 1.15;
        // text-align: left;
        // color: rgb(44, 64, 88);
        // background-color: red;
    }

    &__contact-form-name {

        &_position {
            margin-left: 6px;
            margin-bottom: 31px;
        }
    }

    &__contact-form-email {

        &_position {
            margin-left: 6px;
            margin-bottom: 31px;
        }
    }

    &__contact-form-btn {
        line-height: 1.15;
        overflow: visible;
        font-family: $font-primary-name;
        color: $color-pickled-bluewood;
        outline: none;
        margin-top: 31px;
        width: 140px;
        height: 50px;
        border: 1px solid $color-pickled-bluewood;
        align-self: flex-end;
        text-transform: uppercase;
        font-size: 14px;
        background-color: transparent;
        margin-left: 186px;
        margin-bottom: 38px;
        cursor: pointer;
    }

    &__cover {
        margin-bottom: 27px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        padding-left: 56px;
    }

    &__logo-link {}

    &__social {
        display: flex;
        justify-content: center;
        padding-right: 9px;
    }

    &__content {
        padding-left: 201px;
        margin-bottom: 193px;
    }

    &__text {
        font-size: 14px;
        font-family: $font-primary-name;
        color: $color-white;
        line-height: 1.571;
        margin-right: 18px;
    }
}

.contact-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: $color-pickled-bluewood;
    text-decoration: none;
}
