.news {
    @include bg-cover("../image/bg-news.jpg");
    padding-top: 100px;
    padding-bottom: 120px;

    @media screen and (max-width: 1200px) {
        padding-top: 50px;
        padding-bottom: 0px;
    }

    &__container {
        line-height: 22px;
        // min-width: 0;
    }

    &__title {
        font-size: 44px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        position: relative;

        @include line-before-upper($color-white, -37px);
    }

    &__news-items {}
}

.news-items {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px 100px;
    min-width: 0;
    position: relative;


    &__news-item {}
}

.news-items .slick-track {
    display: flex;
}

.news-items .slick-list {
    overflow: hidden;
}


.news-items .priw_arrow {
    border: 1px solid $color-white;
    position: absolute;
    left: -5%;
    top: 40%;
    padding: 7px 14px;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
    transition: all 2s ease-in-out;

    @media screen and (max-width: 1260px) {
        left: 0;
        background-color: $color-melrose;
        top: 30%;
    }
}

.news-items .next_arrow {
    border: 1px solid $color-white;
    position: absolute;
    right: -5%;
    top: 40%;
    padding: 7px 14px;
    border-radius: 50%;
    z-index: 20;
    cursor: pointer;
    transition: all 2s ease-in-out;

    @media screen and (max-width: 1260px) {
        right: 0;
        background-color: $color-melrose;
        top: 30%;
    }
}

.news-items .slick-dots {
    display: flex;
    position: absolute;
    right: 40%;
    top: 110%;
    padding: 7px 14px;
    z-index: 20;
    cursor: pointer;

    @media screen and (max-width: 550px) {
        right: 22%;
    }
}

.news-items .slick-dots li {
    list-style: none;
    margin: 0px 10px 0px;
}

.news-items .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 2px;
    background-color: transparent;
    border: solid 1px $color-white;
    border-radius: 50%;
}

.news-items .slick-dots li.slick-active button {
    background-color: $color-white;
    border: none;
}

.news-item {
    display: flex;
    flex-direction: column;
    padding: 15px;

    &__news-info {}
}

.img-rew {
    position: relative;

    &_img {
        display: block;
        width: 100%;
    }

    &__circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $color-white;
        @include position-center;
        visibility: hidden;

        &::before,
        &::after {
            content: "";
            display: block;
            background-color: $color-white;
            @include position-center;
            visibility: hidden;
        }

        &::before {
            width: 1px;
            height: 20px;
        }

        &::after {
            width: 20px;
            height: 1px;
        }
    }

    &:hover &__circle,
    &:hover &__circle::after,
    &:hover &__circle::before {
        visibility: visible;
    }
}

.news-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-grow: 1;
    background-color: $color-white;
    padding: 20px;

    @media screen and (max-width: 7680px) {
        width: 100%;
    }

    &__title {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 34px;
        color: $color-pickled-bluewood;
        font-family: $font-third-name;
        margin: 0 auto 15px;
        flex-grow: 1;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 1200px) {
            font-size: 17px;
            line-height: 25px;
        }

        @media screen and (max-width: 992px) {}
    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        color: $color-river-bed;
        font-family: $font-fourth-name;
        margin-bottom: 30px;
        flex-grow: 1;

        @media screen and (max-width: 1200px) {
            font-size: 15px;
        }
    }

    //поміняти шрифт не на італік

    &__user-rew {}
}

.user-rew {
    &__icon {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        //вирівняти по центру з картинкою

        &_user1 {
            background-image: url(../image/newsUser01.jpg);
        }

        &_user2 {
            background-image: url(../image/newsUser02.jpg);
        }

        &_user3 {
            background-image: url(../image/newsUser03.jpg);
        }
    }

    &__user-name {
        font-size: 18px;
        color: $color-pickled-bluewood;
    }

    &__date {
        display: block;
        font-size: 14px;
        line-height: 22px;
        color: $color-malibu;
    }
}

@media screen and (max-width: 768px) {
    .news {
        padding-top: 50px;

        &__title {
            font-size: 40px;
            margin-bottom: 20px;

            @media screen and (max-width: 370px) {
                font-size: 30px;
            }
        }

    }

    .news-items {
        padding: 0 70px;

        @media screen and (max-width: 550px) {
            padding: 0 40px;
        }
    }

    .news-info {
        &__title {
            line-height: 34px;
            font-size: 22px;
        }

        &__text {
            line-height: 26px;
            font-size: 18px;
        }
    }
}
