* {
    padding: 0;
    margin: 0;
}

input {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.modal-fade {
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.modal-window {
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.modal-title {
    padding: 10px 0;
    margin: 10px 0;
    position: relative;
}

.modal-title h2,
.modal-content {
    padding: 0 10px;
}

.modal-title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.pseudoBtn:checked+.modal-fade {
    /*display: block;*/
    visibility: visible;
    pointer-events: all;
    opacity: 1;
}

.pseudoBtn:checked+.modal-fade .modal-title::after {
    transform: translateX(0);
}

.modalopen {
    margin: 10px;
    display: inline-block;
    padding: 15px 25px;
    background: darkred;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.modalopen:hover {
    opacity: 75%;
    transition: opacity .5s ease-in-out;
    transform: scale3d(2%);
}

.close_btn label {
    cursor: pointer;
    display: inline-block;
    background-color: darkred;
    color: honeydew;
    padding: 10px;
    border-radius: 5px;
}

.close_btn:hover label {
    opacity: 80%;
    transition: .5s ease-in-out;
}

.close_btn {
    border: none;
    background: none;
}

.modal-footer {
    padding: 5px 10px;
    text-align: right;
}
