* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 81px 15px;
    box-sizing: border-box;
}

.blog h2,
.blog p:not(.date) {
    color: white;
    text-align: center;
}

.blog h2 {
    font-size: 90px;
    padding-bottom: 23px;

}

.blog h2,
.date {
    font-weight: 700;
}

.blog p:not(.date) {
    font-weight: 300;
    font-size: 17px;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 44px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

.person-item {
    position: relative;
    width: 370px;
}

.person-item:not(:last-of-type) {
    margin-right: 30px;
}

.person-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, .50) 0%, rgba(255, 255, 255, 0) 50%);
}

.person-item:hover::after {
    background: rgba(0, 0, 0, .50);
}

.task1 h2 {
    font-size: 90px;
    padding-bottom: 23px;
}

.person-list {
    font-size: 0;
    padding-bottom: 48px;
}

.person-item {
    display: inline-block;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4)
}

.date,
.title {
    position: absolute;
    z-index: 1;
    left: 0;

}

.title a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.date {
    color: white;
    font-weight: 700;
    top: 0;
    font-size: 32px;
    margin: 31px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(38, 38, 38, .50);
    padding: 5px 8px;
    border-radius: 5px;
    line-height: 28px;
}

.date span {
    display: block;
    font-size: 21px;
    font-weight: heavy;
}

.title {
    padding: 0 47px 0 18px;
    bottom: 0;
    font-size: 20px;
    transform: translateY(-62px);
}

.person {
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: 300;
    font-size: 13px;
    z-index: 10;
    transform: translateY(-24px);
    padding-left: 18px;
}

.btn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    padding: 18px 41px;
    border: none;
    cursor: pointer;
    background-color: #f72b3b;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4)
}
