* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "HansKendrick";
    src: url("../fonts/hanskendrick-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HansKendrick";
    src: url("../fonts/hanskendrick-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-v15-latin-700.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-v15-latin-700.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.page {
    font-size: 13px;
    line-height: 1.4;
    background-color: #e2e7ec;
    font-family: "HansKendrick", Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.blog {
    padding: 81px 10px; 
}

.blog__list { 
    display: flex;
    flex-wrap: wrap;
}

.blog__item {
    background-color: white;
    width: 31.533%;
    display: flex;
    flex-direction: column;
	margin: 10px; 

}

.blog__item_position {
    position: relative;
    width: 64.86%; 
}

.blog__item_position::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%); 
}
.blog__item_position .blog__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    padding: 28px 42px; 
}

.blog__item_position .blog__title {
    color: white;
    font-size: 31px;
    padding-right: 200px;
    margin-bottom: 0; 
}

.blog__item_position .blog__author {
  display: none; 
}

.blog__image {
    display: block; 
}

.blog__info {
    padding: 26px 24px 23px;
    flex-grow: 1;
    display: flex;
    flex-direction: column; 
	justify-content: center;
}

.blog__date {
    color: #818181;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 5px; 
}

.blog__title {
    color: black;
    font-size: 22px;
    font-weight: 700;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 74px; 
	display: flex;
    justify-content: center;
}

.blog__author {
    width: 54px;
    height: 54px;
}
