* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.comtainer {
    background-image: url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    width: 100%;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 90px;
    padding-top: 55px;
    margin-bottom: 50px;
    color: #262626;
}

.comtainer>p {
    width: 355px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #5b5c5c;
    padding-bottom: 50px;
}

.contacts {
    display: block;
}

.user-contact {
    display: inline-block;
    color: #000;
    width: 700px;
    padding-left: 165px;
    padding-bottom: 120px;
}

.form-group {
    padding-bottom: 13px;
}

.form-group input,
.form-group textarea {
    background-color: #6bd4d7;
    color: #ffffff;
    opacity: 0.8;
    width: 500px;
    border: transparent;
    border: none;
    border-left: 6px solid transparent;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.form-group input {
    height: 50px;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #ffffff;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #ffffff;
}

.form-group textarea {
    height: 250px;
    padding-top: 20px;
    padding-left: 20px;
}

.form-group input:focus,
.form-group textarea:focus {
    background-color: #00c4c4;
    border: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.9;
    border-left: 6px solid rgba(53, 91, 130, 1);
    outline: none;
}

.company-conacts {
    display: inline-block;
    margin-left: 170px;
    text-align: left;
    vertical-align: top;
}

.company-conacts h3 {
    text-transform: uppercase;
}

.company-conacts a {
    text-decoration: none;
    color: #262626;
}

.company-conacts h3:nth-of-type(2),
.company-conacts h3:nth-of-type(3) {
    margin-top: 20px;
}

.footer {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #b9b9b9;
    font-size: 16px;
}

.footer>p {
    padding-left: 160px;
    font-weight: 300;
}

.footer a {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    color: #b9b9b9;
    font-size: 25px;
}

.made_p {
    padding-right: 160px;
}

.footer span {
    color: #ff2b58;
}
