* {
    transition: all 0.1s ease-in;
    margin: 0;
}


.container {
    max-width: 1240px;
    margin: 0 auto;
}

h1 {
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    color: #eb7e7f;
    text-align: center;
    line-height: 25px;
    padding: 25px 0;
}

h1 span {
    font-weight: 500;
    font-size: 20px;
}

.container {
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    padding: 40px 20px;
    font-weight: 200px;
    font-size: 25px;
    color: #fff;
}

header {
    background-color: #4a4f56;
    margin-bottom: 0;
}

main {
    background-color: #3b3f45;
}

footer {
    background-color: #3b3f45;
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    color: #eb7e7f;
    text-align: center;
    line-height: 30px;
    padding: 25px 0;
}

label:hover {
    background: #fff;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}


[type="checkbox"]:checked+label {
    text-decoration: line-through;
    opacity: 40%;
}

[type="checkbox"]:active+label {
    background: orange;
}

input[type="checkbox"] {
    display: none;
}

form label:nth-child(even) {
    background-color: #7a7593;
}

form label:nth-child(odd) {
    background-color: #88839e;
}

label {
    display: inline-block;
    padding: 15px 0px 15px 20px;
    width: 780px;
    color: #fff;
    font-family: Arial;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

label::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: #e1e1e1;
    border: 1px solid #a8a8a8;
    vertical-align: -5px;
}

input:checked+label::before {
    content: url(../img/checkmark.png);
    color: #434343;
    display: inline-block;
}

label[for="pickles"]::after {
    content: '(for the next lessons about CSS)';
}

label[for="apples"]::after {
    content: '(for more CSS manipulations)';

}

label[for="oranges"]::after {
    content: '(because they are awesome)';
}

label[for="plates"]::after {
    content: '(hm... they always disappear)';
}


label[for="sake"]::after {
    content: '(for my friends)';
}

label::after {
    color: #b9c6d6;
    font-size: 13px;
    font-family: sans-serif;
}

.btn {
    background-color: #4a4f56;
    color: #eb7e7f;
    border: none;
    padding: 24px 0;
    width: 800px;
    margin-top: 40px;
    font-size: 20px;
}






