/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
        url('../fonts/roboto-v20-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-condensed-v19-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-condensed-v19-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page {
    font-family: 'Roboto Condensed';
    font-size: 12px;
    line-height: 1.4;
    background: url(../image/bg.jpg) center/cover no-repeat;
}

.page__header {
    margin-bottom: 24px;
}

.container {
    max-width: 800px;
    padding: 0 27px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu__item {
    padding-right: 48px;
}

.menu__link {
    color: white;
    font-family: Roboto;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.menu__item_active .menu__link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: white;
}

.menu-burger-btn {
    background: none;
    border: none;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger-btn__line {
    background-color: white;
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
}

.menu-burger-btn__line::after,
.menu-burger-btn__line::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
}

.menu-burger-btn__line::after {
    top: -7px;
}

.menu-burger-btn__line::before {
    bottom: -7px;
}

.product-card {
    display: flex;
    position: relative;
}

.product-card::before,
.product-card::after {
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    z-index: -1;
}

.product-card::before {
    left: -14px;
    right: -14px;
    top: 11px;
    bottom: 11px;
}

.product-card::after {
    left: -28px;
    right: -28px;
    top: 20px;
    bottom: 20px;
}

.product-card__slider {
    width: calc(100% - 250px);
    padding: 40px 25px 25px;
    background-image: url(../image/slider-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-card__slider-list {}

.product-card__slider-item {}

.product-card__slider-image {}

.product-card__slider-navigation {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.product-card__slider-navigation-item {
    padding: 9px;
}

.product-card__slider-navigation-link {}

.product-card__slider-navigation-image {}

.product-card__info {
    max-width: 250px;
    width: 100%;
    background-color: white;
    padding: 44px 25px 25px 35px;
}

.product-card__promotion {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 2.5px 5px;
    text-transform: uppercase;
    color: white;
    background-color: #ffa60d;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
}

.product-card__name {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    line-height: 1.3;
}

.product-card__link {
    color: #000;
    text-decoration: none;
}

.product-card__link_blue {
    color: #5e4fff;
}

.product-card__rating {
    margin-bottom: 10px;
}

.rating {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    align-items: baseline;
}

.ratig__text {
    padding-right: 16px;
}

.rating__list {
    display: flex;
    list-style-type: none;
}

.rating__item {
    width: 9px;
    height: 9px;
    margin-right: 4px;
    background-image: url(../image/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.rating__item_active {
    background-image: url(../image/star-active.svg);
}

.product-card__price-wrapper {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 18px;
}

.product-card__curensy-symbol {}

.product-card__prise {}

.product-card__action {}

.product-card__size-wrapper {
    margin-bottom: 35px;
}

.product-card__size-label {
    display: block;
    cursor: pointer;
}

.product-card__size-text {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.product-card__size-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 14.5px;
}

.product-card__size-item {}

.product-card__size-input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

.product-card__size-value {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
}

.product-card__size-label:hover .product-card__size-value {
    background-color: lightgray;
}

.product-card__size-input:checked+.product-card__size-value {
    border-color: black;
}

.product-card__add-to-cart {
    margin-bottom: 4px;
}

.button {
    min-width: 118px;
    min-height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid;
}

.button_primary {
    background-color: #a200b8;
    border-color: #a200b8;
    color: white;
}

.product-card__wishlist {}

.button_secondary {
    background-color: white;
    border-color: black;
}

.product-card__close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close {
    width: 17px;
    height: 17px;
}

.close:hover {
    box-shadow: 0 0 2px 1px gray;
}

.close::before,
.close::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    position: absolute;
    top: 50%;
    left: 0;
}

.close::before {
    transform: translateY(-50%) rotate(-45deg);
}

.close::after {
    transform: translateY(-50%) rotate(45deg);
}
