.world {
    &:nth-child(even) {
        .row {
            justify-content: flex-end;
        }
    }

    padding-top: 215px;
    padding-bottom: 86px;

        @include media ("md") {
            padding-top: 120px;
            padding-bottom: 70px;;
        }

    &_appartament {
        background-image: url(../image/appartaments.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $doveGray;
    }
    &_nature {
        background-image: url(../image/mountain.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $doveGray;
    }
    &__info {
        display: block;
        max-width: 540px;
        height: 370px;
        background-color: rgba(49, 43, 39, 0.9);
        line-height: 1.3;
        padding-left: 30px;
    }

    &__subtitle {
        font-size: 20px;
        padding-top: 44px;
        padding-bottom: 21px;
    }

    &__title {
        padding-bottom: 22px;
        font-size: 20px;
        font-family: $font-default-name;
        font-weight: $default-font-weight;
        text-transform: uppercase;
        line-height: $default-line-height;
    }

    &__button-wrapper {
        margin-top: 56px;
    }
}
