.chooseUs {
    background-image: url(../image/town.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;

        @include media("md") {
        padding: 0;
        }

    &__row {
        flex-wrap: nowrap;

            @include media("md") {
                flex-direction: column;
                text-align: center;
            }
    }

    &__title {
        font-size: 36px;
        font-family: $font-second-name;
        font-weight: 400;
        padding-bottom: 46px;
        padding-top: 68px;
    }

    &__buttom {
        padding-top: 42px;

        @include media ('md') {
            margin: auto;
        }
    }

    &__img-wrapper {
        @include media ('md') {
            margin-top: 30px;
        }
    }

    &__img {
        max-width: 350px;
        width: 100%;
        height: auto;
        padding-bottom: 5px;
        display: block;
        margin-left: 65px;

        &_left {
            margin-left: 190px;
        }

        @include media("lg") {
            width: 100%;
            margin: 0 auto;
        }
    }
}


.text_up {
    letter-spacing: 1px;
    padding-bottom: 28px;
}
