.footer {
    background-color: $mine-shaft;
    &__wrapper {
        padding: 97px 0 30px 0;
    }
}

.fotet-title {
    text-align: center;
    padding-bottom: 20px;
}

.logo {
    &__link {
        font-size: 24px;
        letter-spacing: 2px;
    }

    &__subtitle {
        font-size: 16px;
        letter-spacing: 1px;
    }
}

.social {
    display: flex;
    max-width: 170px;
    justify-content: space-between;
    margin: 0 auto;

    &__svg {
        width: 16px;
        color: $white;
        &:hover {
            color: $indigoCraiola;
        }
    }
}
