.header {

    background-image: url(../image/header_bg.jpg);
    background-repeat: no-repeat;
    height: 99vh;
    background-size: cover;
    padding-top: 217px;
    display: flex;
    flex-direction: column-reverse;

    &__blok {
        flex-grow: 1;
    }
 
    &__title {
        text-align: center;
        font-family: $font-default-name;
        line-height: 1.8;
        font-weight: 900;
        font-size: 48px;
        letter-spacing: 3px;

        @include media ('md') {
            font-size: 46px;
        }

        @include media ('sm') {
            font-size: 39px;
        }

    }

    &__safe {
        text-align: center;
        font-family: $font-default-name;
        line-height: 0;
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 6px;
        padding-bottom: 27px;
            @include media ('sm') {
                font-size: 15px;
            }
    }

    &__scroll {
        margin-top: 114px;
        text-align: center;
    }
}

.search {
    &__wrapper {
        max-width: 650px;
        margin: 0 auto;
        display: flex;

        @include media ('md') {
            flex-direction: column;
        }
    }

    &__input {
        width: calc(100% -150px);
        flex-grow: 1;
        border: none;
        height: 60px;
        text-align: center;
        font-family: $font-default-name;
        font-size: 14px;
        line-height: $default-line-height;
        letter-spacing: 2px;
    }

    &__button_search {
        border: 2px solid $white;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        font-family: $font-second-name;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 150px;
        cursor: pointer;
        background: rgb(73, 107, 254);
        background: linear-gradient(
            34deg,
            rgba(73, 107, 254, 1) 0%,
            rgba(73, 107, 254, 1) 75%,
            rgba(84, 116, 253, 1) 35%,
            rgba(84, 116, 253, 1) 100%
        );

        background-size: 350% 100%;
        background-position: 100%;
        transition: background-position .5s ease;

        &:hover {
            background-position: 0 100%;
        }

        @include media ('md') {
            margin: 30px auto;
            height: 56px;
        }

        @include media ('sm') {
            justify-content: center;
            margin: 30px auto;
            height: 56px;
            width: 100%;
        }
    }

}

.button {

    &__text {
        padding-left: 27px;
        letter-spacing: 1px;
    }

    &__img {
        margin-right: 7px;
        @include media ('sm') {
            margin-left: 20px;
        }
    } 

}

.scroll {
    &__item {
        text-decoration: none;
        display: inline-block;
        &::after {
            width: 12px;
            height: 12px;
            content: "";
            display: block;
            border-left: 2px solid $white;
            border-bottom: 2px solid $white;
            transform: rotate(-45deg);
            margin: 0 auto;

        }
    }

    &__text {
        color: $white;
        font-size: 14px;
        font-family: $font-default-name;
        line-height: $default-line-height;
        font-weight: 400;
        letter-spacing: 2px;
    }
}
