.instruction-block {
    background-color: $mine-shaft;
    padding: 71px 0;

    &__img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    &__title {
        font-size: 36px;
        font-family: $font-second-name;
        font-weight: 400;
        line-height: 1;
        text-align: center;

        @include media ("md") {
            font-size: 20px;
        }
    }

    &__direction {
        @include media ("md") {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        @include media ("sm") {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
    }
}



.arc__1 {

        position: absolute;
        top: -30%;
        left: 63%;
        width: 74%;
        height: 80%;
        border-top: 1px dashed  #818181;
        border-radius: 50%;

        @include media ("sm") {
            display: none;
        }
}

.arc__2{
    position: absolute;
    top: -30%;
    left: -38%;
    width: 74%;
    height: 80%;
    border-top: 1px dashed  #818181;
    border-radius: 50%;

    @include media ("sm") {
        display: none;
    }
    
}
