.container_instruction-block {
    position: relative;
}

.instruction-block {
    background-color: $mine-shaft;
    padding: 70px 0 85px 0;

    &__img {
        width: 60px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__title {
        font-size: 36px;
        font-family: $font-second-name;
        font-weight: 400;
        line-height: 1;
        text-align: center;

        @include media ("md") {
            font-size: 20px;
        }
    }

    &__direction {
        @include media ("md") {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        @include media ("sm") {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
    }
}

.arc {
    position: absolute;
    padding-top: 5.23%;
    display: inline-block;
    padding-left: 27%;
    overflow: hidden;
    left: 19%;
    top: -15%;

    &::after {
        position: absolute;
        content: '';
        display: block;
        border: 1px dashed $grey;
        height: 300px;
        width: 126%;
        top: 0;
        left: -13%;
        right: 0;
        border-radius: 50%;
    }

    &:nth-child(2) {
        left: 54%;
    }

    @include media('sm') {
        display: none;
    }
}


.title-search {
    padding-right: 20px;
}

.title-booking {
    padding-left: 20px;
}

.chooseUs-left {
    padding-left: 1px;
}
