.instruction-block {
    background-color: $mine-shaft;
    padding: 71px 0;

    &__img {
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    &__title {
        font-size: 36px;
        font-family: $font-second-name;
        font-weight: 400;
        line-height: 1;
        text-align: center;

        @include media ("md") {
            font-size: 20px;
        }
    }

    &__direction {
        @include media ("md") {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        @include media ("sm") {
            flex-direction: column;
        }
    }
}



.circle_2::before {
        content: '';
        position: absolute;
        top: 190%;
        left: 32%;
        width: 16%;
        height: 17%;
        border-top: 1px dashed  #818181;
        border-radius: 50%;

        @include media ('xl') {
            top: 200%;
            left: 23%;
            width: 24%;
            height: 17%;
        }

        @include media ('ld') {
            top: 202%;
            left: 22%;
            width: 16%;
            height: 17%;
        }

        @include media ('md') {
            display: none;
        }

}

.circle_2::after {
    content: '';
    position: absolute;
    top: 190%;
    left: 52%;
    width: 16%;
    height: 17%;
    border-top: 1px dashed #818181;
    border-radius: 50%;

    @include media ('xl') {
        top: 200%;
        left: 53%;
        width: 26%;
        height: 17%;
    }

    @include media ('ld') {
        top: 202%;
        left: 22%;
        width: 16%;
        height: 17%;
    }

    @include media ('md') {
        display: none;
    }
}
