body{
    font-size: 18px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container{
    max-width: 790px;
    margin-left: 8px;
}
 a{
    text-decoration: none;
}
 a:hover{
    color: brown;
}
.container h1{
    color: white;
    background-color: #a52a2a;
    text-align:center ;
}
.img-car {
    text-align: center;
}
.img-car img{
    border: 4px dashed black;
}
footer p{
    text-align: center;
    background-color: black;
    font-size: 20px;
    color: #fff;
}
