* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.box {
    text-decoration: none;
    text-align: center;
}

.container{
    padding-top: 108px;
    padding-bottom: 117px;
}

  .conteiner-box {
    max-width: 1176px;
    margin: 0 auto;
}  

li {
    display: inline-block;
    position: relative;
}

.one,
.two,
.three {
    padding-right: 30px;
} 

img {
    display: block;
   
}

h2 {
    color: #3c3c3c;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8.95px;
}

h2::after {
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    background-color: #dddbdb;
    margin: 20px auto 40px;
}

.conreiner-title p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 0 340px 59px;
}

h3 {
    color: #282528;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-top:21px;
    line-height: 25px;
}

span {
color: #646464;
font-family: "Lato Light";
font-size: 14px;
font-weight: 300;
display: block;
font-family: 'Lato', sans-serif;
}


.back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
}

.front, .back {
    width: 269px;
    height: 268px;
    overflow:hidden;
    backface-visibility: hidden;
     /* position: absolute;  */
     transition: transform .6s linear;
}

.front img {
    height: 100%;
}

.front {
transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #00aed9;
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.type:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.type:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

.fa-facebook-f:before {
    content: "\f39e";
    width: 22px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.fa-twitter:before {
    content: "\f099";
    width: 22px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.fa-google-plus-g:before {
    content: "\f0d5";
    width: 22px;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.fab {
    color: white;
    font-size: 24px;
    line-height: 30px;
    fill: white;
    background-color: #5ecbe7;
    width: 50px;
    padding: 10px 0;
    margin-right: 2px;
}

.fa-google-plus-g{
    transform: translateX(104px);
    transition: transform 0.5s ease-in-out;
}

.fa-twitter {
    transform: translateX(-102px);
    transition: transform 0.5s ease-in-out;
}

.fa-facebook-f {
    transform: translateY(160px);
    transition: transform 0.5s ease-in-out;
}

.type:hover .fa-google-plus-g {
    transform: translateX(0);
    transition: transform 1.2s ease-in-out;
}

.type:hover .fa-twitter {
    transform: translateX(0);
    transition: transform 1.2s ease-in-out;
}

.type:hover .fa-facebook-f {
    transform: translateY(0);
    transition: transform 1.2s ease-in-out;
}
