@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0px;
    /* transition: all .1s ease-in; */
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
