* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #b07cf7;
    color: #fff;
}

/* .blog {
    background-color: #b07cf7;
    color: #fff;
} */

.blog-title {
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 98px;
}

.p-blog {
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    margin-bottom: 50px;
}

.blog-list {
    margin: 0 auto;
    max-width: 1200px;
    display: block;
}

.blog-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.blog-date span {
    font-size: 32px;
}

.blog-item img {
    display: block;
    max-width: 100%;
}

.blog-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 3px;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 65%, rgba(0, 0, 0, 1) 100%);
}

.blog-data {
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60px;
    height: 60px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-data span {
    display: block;
    font-size: 32px;
    font-family: "Raleway";
}

.blog-content {
    position: absolute;
    top: 205px;
    left: 24px;
    font-size: 20px;
    font-family: "Raleway";
    font-weight: bold;
    width: 300px;
    z-index: 10;
}

.blog-author {
    position: absolute;
    top: 272px;
    left: 24px;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    z-index: 10;
}

.blog-item:hover::after {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3452731434370623) 35%, rgba(0, 0, 0, 0.5021358885351015) 65%, rgba(0, 0, 0, 1) 100%);
}

.blog-button {
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
}

.blog-button button {
    background-color: #f72b3b;
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    padding: 20px 40px;
    color: #fff;
    text-transform: uppercase;
}

.blog-button button:hover {
    background-color: #d92534;
    cursor: pointer;
}
