* {
    padding: 0;
    margin: 0;
}

body {
    padding: 24px;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 139px;
}

body {
    background-color: #3399cc;
}

#top,
#right,
#bottom,
#left {
    position: fixed;
    background-color: #2b81ac;
    z-index: 1;
}

#top,
#bottom {
    height: 24px;
    left: 0;
    right: 0;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 24px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

p,
i,
h1,
h2 {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

.list {
    list-style-type: none;
    margin-top: 36px;
}

h1 {
    color: white;
}

i {
    font-size: 27px;
    margin-top: -10px;
}

h1 i {
    font-size: 30px;
    opacity: 1;
}

.list li {
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
}

.lisbon {
    width: 50%;
}

.sanfrancisco {
    width: 50%;
}

.paris,
.belgrade,
.moscow,
.telaviv,
.cair,
.newyork,
.newdelhi,
.tokyo {
    width: 25%;
}

.sydney {
    width: 100%;
}

ul {
    font-size: 0;
}

.paris div {
    background-color: #33cccc;
}


.belgrade div {
    background-color: #996699;
}

.moscow div {
    background-color: #cc3333;
}

.telaviv div {
    background-color: #e2674a;
}

.cair div {
    background-color: #ffcc66;
}

.newyork div {
    background-color: #99cc99;
}

.newdelhi div {
    background-color: #669999;
}

.sanfrancisco div {
    background-color: #cc6699;
}

.tokyo div {
    background-color: #339966;
}

.sydney {
    background-color: #666699;
}


li div,
ul li div {
    padding: 35px 0;
    text-align: center;

    /*    box-shadow:
        6px 0 0 0 #fff,
        0 6px 0 0 #fff,
        6px 6px 0 0 #fff,
        6px 0 0 0 #fff inset,
        0 6px 0 0 #fff inset;
}}
*/
}

li {
    border: 3px solid white;
}

ul {
    border: 3px solid white;
}

h2 {
    color: white;
    font-weight: 400;
    padding-bottom: 15px;
}

div p,
div i {
    opacity: 80%;
    color: white;
    font-size: 18px;
}

.list:hover>li {
    opacity: .6;
}

.list li:hover {
    opacity: 1;
}

.footer {
    padding-top: 42px;
    opacity: 1;

}
