* {
    padding: 0;
    margin: 0;
}

body {
    padding: 24px;
}

.container {
    max-width: 990px;
    margin: 0 auto;
    padding-top: 33px;
    padding-bottom: 139px;
}

body {
    border: 24px solid #2b81ac;
    min-height: 800px;
    height: 100vh;
    background-color: #3399cc;
}

.task1 p,
.task1 i,
.task1 h1,
.task1 h2 {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}

.list {
    list-style-type: none;
    margin-top: 36px;
    background-color: #fff;
    border: 3px solid white;
}

h1 {
    color: white;
}

.task1 i {
    font-size: 27px;
    margin-top: -10px;
}

.task1 h1 i {
    font-size: 30px;
    opacity: 1;
}

.list li {
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
}

.lisbon {
    width: 50%;
    background-color: #3399cc;
}

.sanfrancisco {
    width: 50%;
}

.block {
    border: 3px solid white;
}

.paris,
.belgrade,
.moscow,
.telaviv,
.cair,
.newyork,
.newdelhi,
.tokyo {
    width: 25%;
}

.sydney {
    width: 100%;
}

.list {
    font-size: 0;
}

.paris div {
    background-color: #33cccc;
}


.belgrade div {
    background-color: #996699;
}

.moscow div {
    background-color: #cc3333;
}

.telaviv div {
    background-color: #e2674a;
}

.cair div {
    background-color: #ffcc66;
}

.newyork div {
    background-color: #99cc99;
}

.newdelhi div {
    background-color: #669999;
}

.sanfrancisco div {
    background-color: #cc6699;
}

.tokyo div {
    background-color: #339966;
}

.sydney {
    background-color: #666699;
}

li div,
ul li div {
    padding: 35px 0;
    text-align: center;
}


.block h2 {
    color: white;
    font-weight: 400;
    padding-bottom: 15px;
}

div p,
div i {
    opacity: 80%;
    color: white;
    font-size: 18px;
}

.list:hover>li {
    opacity: .6;
}

.list li:hover {
    opacity: 1;
}

.footer {
    padding-top: 42px;
    opacity: 1;

}
