.page {
    &__header {
        min-height: calc(100vh - 15px);
        height: 100%;
        box-sizing: border-box;
    }
}

.header {
    @include bg-cover('../image/header-bg.jpg');

    &__container {
        height: calc(90vh - 15px);
        padding: 150px 0 70px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .header__title

    &__title {
        text-transform: uppercase;
        color: $title-color;
        font-size: $title-size;
        font-weight: 700;
    }

    // .header__subtitle

    &__subtitle {
        display: block;
        font-weight: 400;
        font-size: $subtitle-size;
        letter-spacing: 3.1px;
        text-transform: initial;
        margin-bottom: 47px;
    }

    // .header__form-search

    &__form-search {
        margin: 0 auto;
        margin-bottom: 70px;
        display: flex;
        align-self: normal;


        @media screen and (max-width:768px) {
            flex-direction: column;
            align-items: center;
            max-width: 500px;
            width: 100%;
        }
    }

    // .header__search-input

    &__search-input {
        display: block;
        width: 500px;
        padding: 0 20px;
        box-sizing: border-box;
        border: 1px solid transparent;
        font-family: $default-font;
        height: 60px;

        &::-webkit-input-placeholder {
            text-align: center;
            font-size: 14px;
        }

        &::-moz-placeholder {
            text-align: center;
            font-size: 14px;
        }

        &:-moz-placeholder {
            text-align: center;
            font-size: 14px;
        }

        &:-ms-input-placeholder {
            text-align: center;
            font-size: 14px;
        }

        @media screen and (max-width:768px) {
            margin-bottom: 10px;
        }
    }

    &__search-btn {
        padding: $padding-btn;

        @media screen and (max-width:768px) {
            width: 100%;
        }
    }


    &__scroll-wrapper {}


    &__navigation {
        height: 10vh;
    }

}

.scroll {


    &__link {
        text-decoration: none;
        color: #fff;
        font-family: $default-font;
        letter-spacing: 2px;
        position: relative;

        &::after {
            content: '';
            display: block;
            border: 2px solid #fff;
            height: 7px;
            width: 7px;
            @include position-center;
            top: 28px;
            transform: rotate(45deg);
            border-top: none;
            border-left: none;
        }
    }
}

.main-navigation {
    background-color: #5474fd;

    &__container {
        padding: 23px 0 23px;
        display: flex;
        justify-content: space-between;
    }

    &__logo-link {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
    }

    @media screen and (max-width:768px) {
        position: relative;
    }
}

.menu {

    &__list {
        display: flex;

        @media screen and (max-width:768px) {
            display: block;
            position: absolute;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 35px;
        }

        @media screen and (max-width:768px) {
            border-bottom: 1px solid;
        }
    }

    &__item-link {
        text-transform: uppercase;
        font-size: 14px;
        font-family: $secondary-font;
        font-weight: 700;
        text-decoration: none;
        color: #fff;

        @media screen and (max-width:768px) {
            color: black;
            font-size: 20px;
            line-height: 1.5;
        }
    }

    @media screen and (max-width:768px) {
        visibility: hidden;
    }

    &__sub-menu-checkbox {
        @include hidden-input;

        @media screen and (max-width:768px) {
            &:checked {
                +.menu__sub-menu-label {
                    position: absolute;
                    top: -630%;
                    border-color: #000;
                    z-index: 1000;

                    &>span {
                        background-color: #000;

                        &::after,
                        &::before {
                            background-color: #000;
                        }
                    }
                }

                ~.menu__list {
                    visibility: visible;
                    top: -650%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    background-color: #fff;

                    & .menu__item {
                        padding: 10px;

                        &:first-child {
                            padding-top: 40px;
                        }
                    }
                }

                display: block;
            }
        }
    }

    &__sub-menu-label {
        display: block;
        border: 2px solid #fff;
        height: 30px;
        width: 30px;
        visibility: hidden;
        pointer-events: none;
        border-radius: 5px;
        position: absolute;

        @media screen and (max-width:768px) {
            visibility: visible;
            pointer-events: all;
            right: 10px;
            position: relative;
        }
    }

    &__sub-menu-line {
        display: block;
        @include position-center;
        width: 75%;
        height: 2px;
        background-color: #fff;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            display: block;
        }

        &::after {
            top: 6px;
        }

        &::before {
            bottom: 6px;
        }

    }
}



.btn {
    display: flex;

    &__icon {
        height: 20px;
        fill: #fff;
    }

    &__span {
        margin-right: 7px;
        text-transform: uppercase;
    }

    &_border {
        border: $border-btn;

    }

    @media screen and (max-width:768px) {
        justify-content: center;
    }
}

.menu-open {
    position: fixed;
    width: 100%;
}
