@include grid();

.page {
    font-family: $default-font;
    padding: 15px;
    box-sizing: border-box;
    min-height: 100vh;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $default-gap;
    font-family: $default-font;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);
}

.btn {
    height: 60px;
    display: flex;
    align-items: center;
    background: $bg-btn;
    color: #fff;
    font-size: 14px;
    font-family: $secondary-font;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
