.variants {
    background-color: #333;
    overflow: hidden;

    &__container {
        padding: 83px 0 93px;
    }


    &__svg-wrapper {
        margin-bottom: 23px;
    }

    &__link {
        text-decoration: none;
    }

    &__svg {
        height: 59px;
        width: 59px;
        fill: #5474fd;
        z-index: 1000;

        &:hover {
            fill: #ff6363;
        }
    }

    &__title {
        color: $content-color;
        font-size: 36px;
        font-family: $secondary-font;
        z-index: 1000;
    }

    &__item {
        text-align: center;

        @media screen and (max-width:768px) {
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}
