*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
}

body {
    width: 100%;
    font-family: Trebuchet, Arial, sans-serif;
    background: #3b3f45;
    margin: 0 auto;
}

/*Header*/

header {
    background-color: #4a4f56;
    text-align: center;
    color: #eb7e7f;
}

h1 {
    margin: 0;
}

p {
    font-size: 0.7cm;
    margin: 0;
    line-height: 20px;
}

/*Main*/

main {
    background-color: #3b3f45;
    margin: 40px auto;
}

li {
    line-height: 3.4em;
    list-style: none;
    margin: 0;
    background-color: #88839e;
}

ul {
    padding: 15px;
}

.label-text {
    color: white;
}

label {
    display: block;
}

input[type="checkbox"]:checked + .label-text {
    text-decoration: line-through;
    color: #a3a0b5;
}

:hover.even {
    background-color: #625e77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

:hover.odd {
    background-color: #625e77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.odd {
    background-color: #88839e;
}

.even {
    background-color: #7a7593;
}

li > :active {
    background-color: #eb7e7f;
}

/*Footer*/

footer {
    margin: 40px auto;
    background-color: #4a4f56;
    text-align: center;
    color: #eb7e7f;
}

footer p {
    padding-top: 24px;
}
