* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url("../fonts/ProximaNova-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url("../fonts/ProximaNova-Light.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    }

.main {
    max-width: 964px;
    margin: 0 auto;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
}

.container li {
    padding:  35px 10px;
    list-style: none;
}

.big {
    color: black;
    font-size: 14px;
    font-family: 'Proxima Nova Regular',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.small {
    color:#9d9d9d;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Proxima Nova Light',Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 35px 0 35px;
}

/*Circle*/

.circle {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 1px solid;
    line-height: 80px;
    margin: auto;
    border-color: rgb(18, 117, 185);
    background-color: #1275b9;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.circle path {
    fill-rule: evenodd;
    fill: rgb(255, 255, 255);
}

/*Hover*/

.circle:hover {
    background-color: white;
}

.circle:hover path{
    fill: #1275b9;
}
