@include grid();

.rwd {
    width: 250px;
    height: 250px;
    background-color: brown;
    @include position-center;

    @include media('xl') {
        background-color: green
    }
}

// @media screen and (max-width: 700px) {
//     .rwd {
//         background-color: gray;
//     }
// }

// @media screen and (max-width: 500px) {
//     .rwd {
//         width: 100%;
//         background-color: green;
//     }
// }

.rect {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;

    &:nth-of-type(2) {
        right: 0;
    }

    &:nth-of-type(3) {
        right: 0;
        bottom: 0;
    }

    &:nth-of-type(4) {
        bottom: 0;
    }

    @include media('xl') {
        background-color: grey;
    }

    @include media('lg') {
        border-radius: 50%;
    }

    @include media('md') {
        @include position-center;
    }
}
