@include fonts($default-font, $default-font-path, bold, bold);
@include fonts($default-font, $default-path-two, normal, normal);
@include fonts($secondary-font, $secondary-font-path, 400, normal);

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Book.eot');
    src: local('Gotham Book'), local('Gotham-Book'),
        url('Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff'),
        url('Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.eot');
    src: local('Gotham Bold'), local('Gotham-Bold'),
        url('Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff'),
        url('Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.eot');
    src: local('Gotham Medium'), local('Gotham-Medium'),
        url('Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff'),
        url('Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
