.page {


    &_gallery {}
}

.gallery {


    &__container {
        padding: 140px 0;

        @media screen and (max-width:1200px) {
            padding: 100px 0;

        }

        @media screen and (max-width:990px) {
            padding: 80px 0;

        }

        @media screen and (max-width:768px) {
            padding: 60px 0;

        }

        @media screen and (max-width:576px) {
            padding: 50px 0;
        }
    }


    &__title-row {
        color: $title-color;

        &::before {
            background-color: $title-color;
        }

        margin-bottom: 87px;

        @media screen and (max-width:990px) {
            margin-bottom: 60px;

        }


        @media screen and (max-width:576px) {
            margin-bottom: 40px;

        }
    }


    &__title {}


    &__wrap {
        margin-bottom: 55px;

        @media screen and (max-width:1200px) {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }


    &__img-wrap {
        display: flex;

        &:first-child {
            @media screen and (max-width:1200px) {
                padding-bottom: 0;
            }
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding-left: 60px;
        padding-right: 60px;
    }

    &__img {
        display: block;
        padding: 5px;

        @media screen and (max-width:1200px) {
            width: 100%;
        }
    }
}

.img-wrap {
    display: flex;
    flex-wrap: wrap;


}
