.page {


    &_gallery {}
}

.gallery {


    &__container {
        padding: 140px 0;
    }


    &__title-row {
        color: #2c4058;

        &::before {
            background-color: #2c4058;
        }

        margin-bottom: 87px;
    }


    &__title {}


    &__wrap {
        margin-bottom: 55px;
    }


    &__img-wrap {
        display: flex;


    }



    &__btn {
        display: block;
        margin: 0 auto;
        padding-left: 60px;
        padding-right: 60px;
    }

    &__img {
        display: block;
    }
}

.img-wrap_inner {
    padding: 0;

    &:first-of-type {
        padding-right: 5px;
    }

    &:last-of-type {
        padding-left: 5px;
    }

    &>.gallery__img {
        &:first-child {
            padding-bottom: 5px;
        }

        &:last-child {
            padding-top: 5px;
        }

    }
}
