.page {
    @media screen and (max-width:992px) {

        position: relative;
    }
}

.header {

    position: absolute;
    z-index: 1000;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    &__row {
        align-content: center;
    }


    &__container {
        padding: 60px 0 0;


    }


}



.logo {


    &__link {}


    &__img {}
}

.menu {


    &__row {
        @media screen and (max-width:992px) {
            justify-content: flex-end;
            padding-right: 15px;
            align-items: center;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: #fff;

            &.active {
                display: block;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 20px 29px;

        @media screen and (max-width:992px) {}
    }

    &__item {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 69px;
        }


        &.active::before {
            background-color: $color-white;
        }

        &::before {
            content: '';
            height: 8px;
            width: 8px;
            margin-right: 15px;
            border: 1px solid white;
            display: inline-block;
            border-radius: 50%;
        }
    }


    &__link {
        color: $menu-item;
        text-decoration: none;
        font-family: $default-font;
        font-style: normal;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.6px;

        @media screen and (max-width:992px) {
            color: #000;
        }
    }

    &__media {
        padding-top: 15px;
        justify-content: flex-end;
    }

    &__btn {
        display: none;
        height: 30px;
        width: 30px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #fff;
        margin-top: 5px;

        @media screen and (max-width:992px) {
            display: block;
        }

        &-span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: relative;

            &::after,
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                position: absolute;
            }

            &::after {
                top: 8px;
            }

            &::before {
                bottom: 8px;
            }
        }
    }
}

.media {
    display: flex;


    &__item {
        border: 1px solid #b19dfc;
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: 50%;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }


    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $menu-item;
    }
}
