.news {
    @include bg-cover('../image/Bg2.png');

    &__container {
        padding: 135px 0 155px;
        position: relative;

        @media screen and (max-width:1200px) {
            padding: 100px 0 100px;

        }

        @media screen and (max-width:990px) {
            padding: 80px 0 80px;

        }

        @media screen and (max-width:768px) {
            padding: 60px 0 60px;

        }

        @media screen and (max-width:576px) {
            padding: 50px 0 50px;
        }
    }

    &__title-row {
        margin-bottom: 70px;
        color: #fff;

        @media screen and (max-width:768px) {
            margin-bottom: 60px;
        }

        @media screen and (max-width:576px) {
            margin-bottom: 50px;
        }

    }

    &__wrapper {
        margin-bottom: 36px;
        max-height: 540.641px;
        height: 100%;
        overflow: hidden;

        @media screen and (max-width:768px) {
            max-height: 800px;
        }
    }

    &__slide {
        max-height: 540.641px;
        height: 100%;

        @media screen and (max-width:768px) {
            max-height: 800px;
        }
    }

    &__dots {

        display: flex;
        justify-content: center;

        @media screen and (max-width:1200px) {
            margin-top: 100px;
        }
    }
}

.slide {
    padding: 10px;
    display: flex;

    &__wrapper {
        background-color: #fff;
        position: relative;

    }

    &__img {
        display: block;
        width: 100%;



        &-wrap {
            overflow: hidden;

            &::before {
                content: '';
                display: none;
                position: absolute;
                width: 100%;
                height: 244px;
                background-color: #000;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translate(0);
                opacity: .4;
                cursor: pointer;
            }

            &:hover {
                &::before {
                    display: block;
                    z-index: 1000;
                }

                & .slide__img {
                    transform: scale(1.2);
                    object-fit: cover;
                    transition: transform .5s ease;
                }

                & .slide__img-hover {
                    visibility: visible;
                    z-index: 100000;
                    pointer-events: all;
                }
            }

        }

        &-hover {
            visibility: hidden;
            pointer-events: none;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.419);
            position: absolute;
            height: 100px;
            width: 100px;
            bottom: 349px;
            border-radius: 50%;
            transform: translateX(120px);
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                content: '';
                background-color: #fff;
                display: block;
                top: 50%;
                left: 50%;
                cursor: pointer;
                transform: translate(-50%, -50%);
            }

            &::after {
                width: 50px;
                height: 1px;

            }

            &::before {
                height: 50px;
                width: 1px;

            }
        }

        &:hover {
            &+.slide__img-hover {
                visibility: visible;
                pointer-events: all;
            }
        }
    }

    &__content-wrap {
        padding: 19px 20px 27px;


    }


    &__title {
        font-size: 22px;
        color: $title-color;
        line-height: 34px;
        font-style: bold;
        text-transform: uppercase;

        @media screen and (max-width:1200px) {
            font-size: 18px;
        }
    }

    &__content {
        font-size: 18px;
        color: $subtitle-color;
        line-height: 30px;
        font-family: $secondary-font;
        margin-bottom: 35px;

        @media screen and (max-width:1200px) {
            width: 100%;
            overflow: hidden;
            margin-bottom: 20px;
        }
    }


    &__author {
        align-self: center;
    }
}


.author {
    display: flex;

    &__img {
        display: block;
        align-self: center;
    }

    &__content {
        padding: 10px 20px;
    }

    &__name {
        display: block;
        font-size: 18px;
        color: $title-color;
        text-transform: uppercase;
        line-height: 22px;
        margin-bottom: 10px;

        @media screen and (max-width:1200px) {
            font-size: 16px;
        }
    }


    &__date {
        display: block;
        font-size: 14px;
        color: $color-bg;

        @media screen and (max-width:1200px) {
            font-size: 12px;
        }
    }
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 40px;
    cursor: pointer;
    border: 1px solid $color-white;

    &:last-child {
        margin-right: 0;
    }

    &.active {
        background-color: $color-white;
    }

}


.title {
    @media screen and (max-width:576px) {
        font-size: 35px;
    }
}

.title-row {
    text-align: center;
    font-family: $default-font;
    font-style: bold;
    font-size: 44px;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        width: 100px;
        height: 1px;
        background-color: $color-white;
        margin: 0 auto;
        margin-bottom: 35px;
    }
}



.slick-dots {
    bottom: unset;


    &>li {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid $color-white;

        &:not(:last-child) {
            margin-right: 37px;
        }

        &.slick-active {
            background-color: $color-white;
        }
    }

    &>li>button::before {
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
    }
}

.slick-arrow {
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;

    &::before {
        color: transparent;
        border: 1px solid white;
        display: block;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    @media screen and (max-width:990px) {
        display: none;
    }
}

.slick-prev {
    left: -80px;

    &::before {
        border-top: none;
        border-right: none;
    }
}


.slick-next {
    right: -80px;

    &::before {
        border-bottom: none;
        border-left: none;
    }
}

.lb-outerContainer {
    top: 287px;
    position: absolute;
}
