.what-we-do {
    &__container {
        padding: 133px 0 98px;
    }

    overflow: hidden;

    &__title-wrap {

        text-align: center;
    }

    &__title {
        font-family: $default-font;
        font-weight: bold;
        font-size: 44px;
        color: $title-color;
        text-transform: uppercase;
        letter-spacing: 2.8px;
    }

}

.row {

    // .row__content

    &__content {}
}

.project {


    &__container {
        padding: 70px 0 139px;
    }

    // .project__image-wrap

    &__image-wrap {
        position: relative;

        .commerce & {
            display: flex;
            justify-content: flex-end;
        }

        .commerce &::after {
            right: unset;
            left: 310px;
            background-color: $icon-color;
        }

        &::after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: $color-bg;
            position: absolute;
            right: 309px;
            z-index: -1;
            bottom: 70px;
            right: 310px;
        }


    }

    // .project__image

    &__image {
        display: block;
        z-index: 1000;
        max-width: 636px;
        width: 100%;

    }

    // .project__content

    &__content {
        padding: 55px 0 60px 20px;

        .commerce & {
            padding: 55px 0 60px 7px;

        }
    }

    // .project__subtitle
    &__subtitle,
    &__title {
        color: $title-color;
        font-family: $default-font;
        text-transform: uppercase;

    }

    &__title {
        font-weight: bold;
        font-size: 44px;
        line-height: 45px;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;

    }

    &__text {
        font-size: 18px;
        color: $subtitle-color;
        line-height: 30px;
        margin-bottom: 30px;
        font-family: $secondary-font;
    }

    &__btn {
        margin-bottom: 60px;
    }

    &__address {
        font-family: $secondary-font;
        font-style: italic;
        color: $subtitle-color;
        font-size: 18px;
    }
}

.btn {
    text-transform: uppercase;
    background: $bg-btn;
    border: $border-btn;
    padding: $padding-btn;
    cursor: pointer;

}

.commerce {
    & .row {
        justify-content: space-between;
    }
}
