@include grid();

.page {
    font-family: $default-font;
    min-height: 100vh;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);
}

[class^=col-] {
    padding: $default-gap;
    box-sizing: border-box;
}
