.header {
    @include bg-cover("../image/header-bg.png");
    height: 100vh;
    color: $color-white;
    line-height: 26px;

    &__container {
        padding-top: 278px;
        padding-bottom: 115px;
    }

    &__head {
        margin: 0 auto;
    }

    &__nav {}
}

.container {}

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &__title-text {
        margin-bottom: 12px;
        // font-weight: 400; // 
    }

    &__title-text-strong {
        font-size: 48px;
        letter-spacing: 3px;
        font-weight: 400;
        text-transform: uppercase;

    }

    &__title {
        font-size: 22px;
        letter-spacing: 7px;
        margin-bottom: 46px;
        font-weight: 400;
    }

    &__scroll-down {
        margin-bottom: 120px;
    }
}

.search-form-wrapper {
    display: flex;
    max-width: 660px;
    width: 100%;
    padding-bottom: 115px;

    &__input {
        width: calc(100% - 150px);
        outline: none;
        border: none;
        color: $dodger-blue2;
        font-size: 12px;
        padding-left: 30px;

        &:focus,
        &:active {
            outline: 3px solid rgba(84, 116, 253, 0.9);
        }

        &::-webkit-input-placeholder {
            text-align: center;
            font-size: 12px;
            letter-spacing: 3px;
            color: $dusty-gray;
        }
    }


    .btn {
        max-width: 150px;
        width: 100%;
        border: 2px solid $color-white;
        display: inline-block;
        text-decoration: none;
        padding: 20px 20px 15px 25px;
        text-align: center;
        text-transform: uppercase;
        background-color: $dodger-blue;
        font-size: 14px;
        letter-spacing: 1;
        color: $color-white;
        font-family: $font-secondary-name;
        position: relative;
        z-index: 20;
        overflow: hidden;
        display: flex;
        align-items: center;

        &__text {
            z-index: 30;
            padding-right: 20px;
        }

        &__icon {
            fill: $color-white;
        }

        &__icon:hover {
            fill: $orange;
        }

        &::after {
            content: '';
            display: block;
            width: 300px;
            height: 100px;
            background-color: $dodger-blue2;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: -135%;
            z-index: -10;
            transform: skew(50deg);
            transition: 0.5s ease-in-out;
        }

        &:hover::after {
            transform: skew(0);
            left: -70%;
        }
    }
}

.scroll-down {
    margin-bottom: 15px;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-right: 1px solid $mystic;
        border-bottom: 1px solid $mystic;
        position: absolute;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        bottom: 1px;
        transition: 0.5s ease-in-out;
    }

    &:hover::after {
        bottom: -35px;
    }

    &__text {
        font-size: 14px;
        color: $porcelain;
        line-height: 1.857;
        letter-spacing: 3px;
    }
}

.nav {
    background-color: $dodger-blue;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__navigation-logo {}


    &__menu {}
}

.navigation-logo {}

.navigation-logo-name {
    font-size: 24px;
    color: $color-white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.083;
    text-decoration: none;
}

.menu {

    &__nav-list {
        display: flex;
    }
}

.nav-list {

    &__item {}


    &__link {
        font-size: 14px;
        font-family: $font-secondary-name;
        color: $color-white;
        text-transform: uppercase;
        line-height: 1.857;
        padding-left: 42px;
        text-decoration: none;
    }
}
