.hero-block {
    @include bg-cover("../image/choose_us_bg.png");
    padding-top: 75px;
    line-height: 26px;
    padding-bottom: 90px;

    &__container {}

    // .hero-block__choose-us

    &__choose-us {}
}

.container {}

.row {}

.col-6 {}

.choose-us {
    padding: -15px;

    &__title {
        padding-top: 90px;
        font-size: 36px;
        font-family: $font-secondary-name;
        color: $color-white;
        margin-bottom: 60px;
        font-weight: 400;
    }

    &__text {
        font-size: 16px;
        margin-bottom: 43px;
        color: $mercury;

        &_margin {
            margin-bottom: 27px;
        }
    }

    // .choose-us__button

    &__button {}

    // .choose-us__image-wrapper

    &__image-wrapper {}
}

.button {

    // .button__link

    &__link {}
}

.image-wrapper {

    margin-bottom: 5px;

    &__picture {
        display: block;
        max-width: 350px;
        width: 100%;
        margin-left: 65px;
        margin-right: 120px;

        &_right {
            margin-left: 190px;
            margin-right: 0px;
        }
    }
}
