.travel {
    padding: 210px 0 90px;
    @include bg-cover("../image/booking_bg_1.png");

    @media screen and (max-width: 1000px) {
        padding: 115px 35px 0;
    }

    @media screen and (max-width: 440px) {
        padding: 45px 10px 17px 0;
    }


    &_bg-second {
        @include bg-cover("../image/booking_bg_2.png");

        @media screen and (max-width: 1000px) {
            padding: 115px 35px 0;
        }

        @media screen and (max-width: 440px) {
            padding: 45px 10px 17px 0;
        }
    }



    &__container {



        &_position {}
    }



    &__row {



        &_position {}
    }


    &__col {
        margin-left: 15px;
        max-width: 540px;
        width: 100%;
        padding: 45px 70px 50px 30px;
        background-color: rgba($mine-shaft, $alpha: 0.9);

        @media screen and (max-width: 440px) {
            padding: 25px 20px 25px 20px;
        }
    }



    &__title {
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-weight: 400;

        @media screen and (max-width: 440px) {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }



    &__subtitle {
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 400;
        color: $mercury;
        margin-bottom: 30px;

        @media screen and (max-width: 440px) {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }



    &__text {
        font-size: 16px;
        margin-bottom: 50px;
        font-weight: 300;
        color: $dawn;

        @media screen and (max-width: 440px) {
            font-size: 12px;
            margin-bottom: 25px;
        }
    }



    &__btn {}



    &__btn-text {}
}

.container {}

.row {}

.col-12 {}

.travel:nth-of-type(even)>.travel__container>.travel__row_position {
    justify-content: flex-end;
}
