$alto: #ddd;
$green: green;
$chambray:#3b5998;
$color-white: white;
$color-black: #000;
$grey: #bababa;
$orange: #ff6033;
$dodger-blue: #5474fd;
$dusty-gray: #999999;
$dodger-blue2: #496bfe;
$mystic: #E3E9ED;
$porcelain: #e2e5e8;
$mercury: #e8e8e8;
$mine-shaft: #333333;
$dawn:#A2A1A0;
$delta:#AFAFAD;

$input-border-color: $grey;
$default-border-radius: 5px;

$facebook-color: $chambray;

$default-border: 1px solid $input-border-color;

$container-width: 1140px;
$default-gap: 15px;

$body-bg-color: $green;
$border-color: $alto;

$font-folder-path: '../fonts/';
$folder-image: '../image/';

$font-default-name: 'Josefin Sans';
$font-secondary-name: 'Aleo';

$follback: Arial,
Helvetica,
sans-serif;

$font-dafault: $font-default-name,
$follback;
$font-secondary: $font-secondary-name,
$follback;

$default-font-size: 16px;
$default-color-text: $color-black;


$breack-points: ("xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px);
