.header {
    background: url("../image/Bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding-top: 35px;
    font-weight: 400;
    font-size: 14px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
            @include media ('lg') {
                width: 100%;
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
    }
}
