.whatWeDo {
    padding: 105px 0 110px;
    position: relative;

    &::before,
    &::after {
        content: '';
        width: 36.5%;
        height: 470px;
        position: absolute;
        z-index: -1;

        @include media ('lg') {
            display: none;
        }
    }

    &::before {
        background-color: $bgTradeBefore;
        top: 273px;
        left: 0;

        @include media ('lg') {
            top: 197px;
        }
    }

    &::after {
        background-color: $bgComerceBefore;
        bottom: 210px;
        right: 0;

        @include media ('xl') {
            bottom: 259px;
        }

        @include media ('lg') {
            bottom: 646px;
        }

        @include media ('md') {
            bottom: 542px;
        }
    }

    &__heading {
        text-align: center;
        font-size: 44px;
        color: $colorTitleWhatWe;
        font-family: $font-default-name;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 65px;

        &::before {
            content: '';
            top: -21px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: $pickledBluewood;
        }
    }

    &__content {
        padding-top: 70px;

        @include media ('lg') {
            padding-top: 0;
        }

        &-title,
        &-title2 {
            color: $colorTitleWhatWe;
            font-family: $font-default-name;
            text-transform: uppercase;
        }

        &-title {
            font-size: 22px;
            margin-top: 48px;

            &2 {
                font-size: 44px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.09;
                margin-bottom: 24px;
            }
        }

        &-text {
            color: $colorTitleWhatWe;
            font-family: $secondary-fonts;
            font-weight: 400;
        }

        &-btn {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $pickledBluewood;
            width: 190px;
            height: 50px;
            border: 1px solid $colorTitleWhatWe;
            cursor: pointer;

            &-text {
                text-transform: uppercase;
                font-size: 14px;
                color: $colorTitleWhatWe;
                font-weight: 400;
            }

            &:hover {
                color: $white;
                background-color: $pickledBluewood;
                box-shadow: $defaultBoxShadow;
                transition: transform .5s ease-in-out;
            }
        }

        &-location {
            margin-top: 52px;
            font-family: $secondary-fonts;
            font-weight: 300;
            position: relative;
            padding-left: 19px;

            &::before {
                content: url(../image/location01.svg);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &-img {
            display: block;
            width: 94.0321%;

            &-wrapp {
                display: flex;
                justify-content: flex-end;
            }
        }

        &-trade {
            margin-bottom: 110px;

            @include media ('lg') {
                margin-bottom: 0px;
            }
        }

        &-commerce {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
