@include grid();

.page {
    font-family: $font-dafault;
    font-size: $default-font-size;
    line-height: $default-line-height;
    color: $default-color-text;
    letter-spacing:$default-letter-spacing;
    font-weight: $default-font-weight;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: $default-gap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);
}

[class^="col-"] {
    padding: $default-gap;
}

