@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('../fonts/miso.woff') format('woff');
}


@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('../fonts/miso-light.woff') format('woff');
}


@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('../fonts/miso-bold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/lato-v17-latin-300.woff2') format('woff2'),
        url('../fonts/lato-v17-latin-300.woff') format('woff');

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    background-color: #fdde7e;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.container {
    padding: 48px 0;
    height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
}

.cost {
    font-family: 'Miso Bold', Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    font-size: 70px;
    letter-spacing: -5px;
    color: #02995b;
}

.title {
    font-family: 'Miso';
    font-weight: normal;
    font-size: 56px;
    margin-bottom: 17px;
}

.description {
    font-size: 20px;
    width: 162px;
    margin: 0 auto;
}

.item {
    background-color: #fff;
    flex-basis: 360px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 7px -1px rgba(34, 60, 80, 0.2);

}

.item-flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 502px;
    align-items: center;
}

.item:hover {
    align-self: stretch;
}

.item {
    padding: 35px 0;
}

.item:hover {
    padding: 46px 0 50px;
}

.item .cost {
    margin-bottom: 5px;
}

.item:hover .cost {
    margin-bottom: 28px;
}

.item img {
    margin-bottom: 30px;
}

.item:hover .title {
    margin-bottom: 26px;
}

.item:hover img {
    margin-bottom: 25px;
}
