* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #e2e7ec;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 10px;
}

.blog {
    padding: 72px 0 67px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.blog__image {
    display: block;
    width: 100%;
}

.blog__item {
    width: 33.3333%;
    height: 540px;
    padding: 10px;
}

.blog__item:first-child {
    width: 66.6666%;
    position: relative;
}

.blog__title_width {
    width: 400px;
}

.blog__item:nth-child(2) .blog__wrapper {
    height: 100%;
}

.blog__wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.blog__content {
    padding: 25px;
}

.blog__content_position {
    position: absolute;
    bottom: 0;
}

.blog__icon {
    margin: 25px;
    width: 50px;
}

.blog__title {
    font-size: 22px;
    font-weight: 700;
}

.blog__title_color {
    color: white;
}

.blog__date {
    font-size: 13px;
    font-weight: 400;
    color: #ababa8;
    line-height: 2.3;
}

#floatingBarsG {
    position: relative;
    width: 25px;
    height: 31px;
}

.blockG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4px;
    height: 10px;
    border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    animation-name: fadeG;
    -o-animation-name: fadeG;
    -ms-animation-name: fadeG;
    -webkit-animation-name: fadeG;
    -moz-animation-name: fadeG;
    animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#rotateG_01 {
    left: 0;
    top: 11px;
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#rotateG_02 {
    left: 3px;
    top: 4px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

#rotateG_03 {
    left: 10px;
    top: 1px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#rotateG_04 {
    right: 3px;
    top: 4px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#rotateG_05 {
    right: 0;
    top: 11px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

#rotateG_06 {
    right: 3px;
    bottom: 3px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

#rotateG_07 {
    bottom: 0;
    left: 10px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#rotateG_08 {
    left: 3px;
    bottom: 3px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}



@keyframes fadeG {
    0% {
        background-color: rgb(137, 150, 163);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: rgb(137, 150, 163);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: rgb(137, 150, 163);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: rgb(137, 150, 163);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes fadeG {
    0% {
        background-color: rgb(137, 150, 163);
    }

    100% {
        background-color: rgb(255, 255, 255);
    }
}


.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 80px;
}

.footer__loader {
    font-size: 13px;
    font-weight: 400;
    color: #99a5b0;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    text-transform: uppercase;
}

@keyframes blink {
    50% {
        color: transparent
    }
}

.loader__dot {
    animation: 1s blink infinite
}

.loader__dot:nth-child(2) {
    animation-delay: 250ms
}

.loader__dot:nth-child(3) {
    animation-delay: 500ms
}
