* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #e2e7ec;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 10px;
}

.blog {
    padding-top: 90px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.blog__image {
    display: block;
    width: 100%;
}

.blog__item {
    width: 33.3333%;
    height: 540px;
    padding: 10px;
}

.blog__item:first-child {
    width: 66.6666%;
    position: relative;
}


.blog__item:nth-child(2) .blog__wrapper {
    height: 100%;
}

.blog__wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.blog__content {
    padding: 25px;
}

.blog__content_position {
    position: absolute;
    bottom: 0;
}

.blog__icon {
    margin: 25px;
    width: 50px;
}

.blog__title {
    font-size: 22px;
    font-weight: 700;
}

.blog__title_color {
    color: white;
}

.blog__date {
    font-size: 13px;
    font-weight: 400;
    color: #ababa8;
    line-height: 2.3;
}
