.gallery {
    padding-bottom: 124px;
    padding-top: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
    @media screen and (max-width: 1200px) {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    &__container {
        color: $color-pickled-bluewood;
    }

    &__title {
        font-size: 44px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        margin-bottom: 48px;
        position: relative;

        @include line-before-upper($color-pickled-bluewood, -7px);

        @media screen and (max-width: 1200px) {
            margin-bottom: 25px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 15px;
        }
        @media screen and (max-width: 576px) {
            font-size: 30px;
        }
    }

    &__img-list {
        margin-bottom: 50px;
    }

    &__button {
        margin: 0 auto;
    }
}

.img-list {
    &__image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__image-link {
    }

    &__img {
        display: block;
        padding: 5px;
        width: 100%;
        transition: 0.9s;
        &:hover {
            transform: scale(1.05);
        }
    }
}
