.header {
    // background-image: url("./images/logo_a.png");
    @include bg-cover("../image/bg-header.jpg");
    position: relative;
    min-height: 100vh;

    &__container {
    }

    &__row {
        padding-top: 38px;
        margin-bottom: 242px;

        @media screen and (max-height: 568px) {
            margin-bottom: 220px;
        }

        @media screen and (max-height: 500px) {
            margin-bottom: 120px;
        }
    }

    &__logo {
    }

    &__link {
    }

    &__logo-img {
    }

    &__menu {
    }

    &__social {
    }

    &__slider {
        margin-bottom: 220px;

        @media screen and (max-height: 800px) {
            margin-bottom: 170px;
        }

        @media screen and (max-height: 750px) {
            margin-bottom: 120px;
        }

        @media screen and (max-height: 700px) {
            margin-bottom: 70px;
        }

        @media screen and (max-height: 650px) {
            margin-bottom: 0px;
        }
    }

    &__slider-info {
        display: inline-block;
        // background-color: red;
    }

    &__slider-title {
        color: $color-white;
        text-align: center;
        font-size: 80px;
        // font-family: $font-third-name;
        font-weight: 700;
        letter-spacing: 0.05em;
        padding-left: 123px;
        line-height: 78px;
        margin-bottom: 27px;

        @media (max-width: 1100px) {
            padding-left: 0px;
        }
    }

    &__slider-subtitle {
        color: $color-white;
        // font-family: $font-default;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.3em;
        line-height: 22px;
        padding-left: 121px;

        @media (max-width: 1100px) {
            padding-left: 0px;
        }
    }

    &__scroll {
    }

    &__scroll-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;

        // animation: bounce 2s infinite ease-in-out;
    }

    &__scroll-link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        opacity: 0.8;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $color-white;
        animation: bounce 3s infinite ease-in-out;
    }

    @keyframes bounce {
        from,
        to {
            top: 0;
        }

        40%,
        60% {
            top: 20px;
        }
    }

    &__scroll-img {
    }
}

.menu {
    // Hide input
    &__input-burger-btn {
        width: 10px;
        height: 10px;
        overflow: hidden;
        position: absolute;
        clip: rect (0 0 0 0);
        left: -150%;
    }

    &__hidden {
        &_btn {
        }

        &_btn-line {
        }
    }

    &__items {
        display: flex;
        padding-top: 12px;
    }

    &__item:first-child {
        padding-left: 37px;
    }

    &__item:nth-child(2) {
        padding-left: 65px;
    }

    &__item:nth-child(3) {
        padding-left: 67px;
    }

    &__item:nth-child(4) {
        padding-left: 100px;
    }

    &__item-link_active::before {
        background-color: $color-white;
    }

    &__item-link:hover::before {
        background-color: $color-white;
        transition: all 1s ease-in-out;
    }

    &__item-link {
        // font-family: $font-default;
        font-size: 14px;
        color: $color-white;
        line-height: 1.571;
        text-decoration: none;

        &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            border: 1px solid $color-white;
            border-radius: 5px;
            margin-right: 15px;

            @media (max-width: 1100px) {
                margin-right: 12px;
            }
        }
    }
}

.social {
    &__items {
        display: flex;
        padding-left: 14px;
    }

    &__item {
        padding: 7px 0px 0px 20px;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
            transition: all 0.7s cubic-bezier(0.21, 0.3, 1, 0.99);
        }
    }

    &__item-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid $color-white;
        border-radius: 50%;
    }

    &__item-svg {
        fill: $color-white;
    }
}

@media screen and (max-width: 1200px) {
    .menu {
        display: flex;
        justify-content: center;

        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3),
        &__item:nth-child(4) {
            padding-left: 0px;
            padding: 0 25px;
        }
    }

    .social__items {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1100px) {
    .menu {
        &__items {
            padding-top: 0px;
        }

        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3),
        &__item:nth-child(4) {
            padding: 0 7px;
            margin-right: -3px;
        }
    }

    .social__item {
        padding: 0px 0px 0px 10px;
    }
}

@media screen and (max-width: 768px) {
    .menu__item-link {
        justify-content: flex-start;
        font-size: 13px;
    }

    .social__item-link {
        width: 30px;
        height: 30px;
    }

    .header {
        &__row {
            padding-top: 0px;
        }

        &__slider-title,
        &__slider-subtitle {
            padding-left: 0px;
        }
    }
}

// Burger Menu
@media screen and (max-width: 990px) {
    // .social__item-link {
    //     width: 30px;
    //     height: 30px;
    // }

    .menu__hidden_btn {
        cursor: pointer;
        display: block;
        width: 20px;
        height: 20px;
        // position: absolute;
        right: 20px;
        top: 7px;
        position: fixed;
        z-index: 10;
    }

    .menu__hidden_btn-line {
        display: block;
        position: relative;
        height: 2px;
        width: 100%;
        background-color: $color-white;

        &::after,
        &::before {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $color-white;
        }

        &::after {
            bottom: -7px;
        }

        &::before {
            bottom: -14px;
        }
    }

    .menu__hidden:checked ~ .menu__hidden_btn .menu__hidden_btn-line {
        transform: translateY(7px) rotate(45deg);
        transition: all 0.7s ease-in-out;
    }

    .menu__hidden:checked ~ .menu__hidden_btn .menu__hidden_btn-line::after {
        transform: translateY(-7px) rotate(-90deg);
        transition: all 0.7s ease-in-out;
    }

    .menu__hidden:checked ~ .menu__hidden_btn .menu__hidden_btn-line::before {
        width: 0;
    }

    .menu__items {
        width: 100%;
        position: fixed;
        // width: 300px;
        margin-top: 45px;
        flex-direction: column;
        visibility: hidden;
        // position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-white;
        text-align: center;
        opacity: 0;
        transition: 0.5s ease-in-out;
        padding: 0;
        z-index: 1;
        background-image: linear-gradient(45deg, rgba(85, 183, 255, 0.9), rgba(126, 90, 255, 0.9));
        top: -45px;
    }

    .menu__hidden:checked ~ .menu__items {
        display: block;
        visibility: visible;
        transition: 0.5s ease-in-out;
        opacity: 1;
    }

    .menu__item {
        border-bottom: 1px solid $color-white;
        margin: 0;
        padding: 0;
        // cursor: pointer;
    }

    .menu__item_link {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .menu__item:hover,
    .menu__item:focus {
        background-color: #6580f1;
        border-top: 2px solid transparent;
    }
}

@media screen and (max-width: 477px) {
    .header {
        &__slider-title {
            font-size: 50px;
        }

        &__slider-subtitle {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 477px) {
    .header__menu {
        max-width: 25%;
    }
}

@media screen and (max-width: 400px) {
    .header__menu {
        max-width: 15%;
    }
}

@media screen and (max-width: 898px) {
    .menu {
        &__items {
            padding-top: 0px;
        }

        &__item:nth-child(1),
        &__item:nth-child(2),
        &__item:nth-child(3),
        &__item:nth-child(4) {
            padding: 0 5px;
        }
    }
}
