.hero {
    @include bg-cover("../image/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    padding-top: 190px;
    overflow-x: hidden;
    overflow-y: hidden;
    color: $color-white;
}
.slider {
    &__slide-title {
        font-size: 80px;
        font-family: $font-third-name;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 100px;
    }

    &__slide-subtitle {
        font-size: 18px;
        font-family: $font-primary-name;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        margin-bottom: 170px;
    }
}
.scroll {
    &__wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        opacity: 0.8;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $color-white;
        animation: bounce 3s infinite ease-in-out;
    }

    @keyframes bounce {
        from,
        to {
            top: 0;
        }

        40%,
        60% {
            top: 20px;
        }
    }

    &__img {
    }
}

@include media("xl") {
    .slider {
        padding-top: 100px;

        &__slide-title {
            font-size: 60px;
            letter-spacing: 3px;
        }

        &__slide-subtitle {
            margin-bottom: 170px;
        }
    }
    .scroll {
        &__wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 34px;
        }
    }
}

@include media("lg") {
}
.slider {
    padding: 70px 15px 0px;

    &__slide-title {
        font-size: 50px;
        letter-spacing: 3px;
        margin-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 40px;
    }

    &__slide-subtitle {
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 90px;
        letter-spacing: 1px;
        font-size: 16px;
    }
}
.scroll {
    &__wrapper {
        margin-bottom: 34px;
    }
}

@include media("md") {
    .slider {
        &__slide-title {
            padding-right: 20px;
            padding-left: 20px;
            font-size: 26px;
        }
    }
}
