.hero-block {
    @include bg-cover("../image/choose_us_bg.png");
    padding-top: 85px;
    line-height: 26px;
    padding-bottom: 90px;
    &__container {
    }

    // .hero-block__title

    // &__title {
    //     padding-top: 80px;
    //     color: $color-white;
    //     font-size: 36px;
    //     font-family: $font-secondary-name;
    //     margin-bottom: 50px;
    // }

    // // .hero-block__text1

    // &__text {
    //     font-size: 16px;
    //     letter-spacing: 2px;
    //     color: $color-mercury;
    //     margin-bottom: 50px;
    //     width: 100%;
    //     max-width: 590px;

    //     &_margin {
    //         margin-bottom: 30px;
    //     }
    // }

    // &__button {
    // }

    // .hero-block__image-wrapper

    &__image-wrapper {
    }
}
.container {
}
.row {
}
.col-6 {
}
.button {
    // .button__link

    &__link {
    }
}
.image-wrapper {
    margin-bottom: 5px;

    // .image-wrapper_right

    // .image-wrapper__picture

    &__picture {
        display: block;
        max-width: 350px;
        width: 100%;
        margin-right: 120px;
        margin-left: 65px;

        &_right {
            margin-left: 190px;
            margin-right: 0px;
        }
    }
}
// vdfvkldkfvmkdf;v;dfmv

.col-6 {
}
.hero-block {
    // .hero-block__choose-us

    &__choose-us {
    }
}
.choose-us {
    // .choose-us__title

    &__title {
        padding-top: 90px;
        color: $color-white;
        font-size: 36px;
        font-family: $font-secondary-name;
        margin-bottom: 61px;
        font-weight: 400;
    }

    // .choose-us__text

    &__text {
        font-size: 16px;
        color: $color-mercury;
        margin-bottom: 43px;

        &_margin {
            margin-bottom: 27px;
        }
    }

    // .choose-us__button

    &__button {
    }
}
.button {
    // .button__link

    &__link {
    }
}
