@include grid();

.page {
    font-family: $font-primary-name, $font-reserve;
    line-height: 1.6;
    min-height: 100vh;
    color: $color-mercury;
    background-color: $color-white;
    padding: $default-gap;
}

.container {
    max-width: $container-widht;
    width: 100%;
    margin: 0 auto;
    padding: $default-gap;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);
}

// .col {
//     padding: $default-gap;
// }

[class^="col-"] {
    padding: $default-gap;
}
.button {
    max-width: 224px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 20px 25px 20px 25px;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    background-color: $dodger-blue;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $font-secondary-name;
    position: relative;
    z-index: 20;
    overflow: hidden;

    &__link {
        color: white;
        text-decoration: none;
    }

    &::after {
        content: "";
        display: block;
        width: 300px;
        height: 100px;
        background-color: $dodger-blue2;
        top: 0;
        left: -87%;
        z-index: -10;
        position: absolute;
        transform: skew(50deg);
        transition: 0.7s ease-in-out;
    }
    &:hover::after {
        left: 0;
    }
}
