@include grid();

.page {
    font-family: $font-primary-name, $font-reserve;
    line-height: 1.6;
    min-height: 100vh;
    color: $default-color-text;
}

.container {
    max-width: $container-widht;
    margin: 0 auto;
    padding: 0 $default-gap;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$default-gap);
    padding: $default-gap;
}

.col {
    padding: $default-gap;
}

[class^="col-"] {
    padding: $default-gap;
}
