.travel {
    @include bg-cover("../image/booking_bg_1.png");
    padding: 215px 0 85px;
    &_bg-second {
        @include bg-cover("../image/booking_bg_2.png");
    }

    @media screen and(max-width:1000px) {
        padding: 115px 0 35px;
    }

    // .travel__container

    &__container {
        // .travel__container_position

        &_position {
        }
    }

    // .travel__row

    &__row {
        // .travel__row_position

        &_position {
        }
    }

    // .travel__col

    &__col {
        margin-left: 15px;
        margin-right: 15px;
        max-width: 540px;
        width: 100%;
        padding: 40px 5px 50px 25px;
        background-color: rgba($color-mine-shaft, $alpha: 0.9);
    }

    // .travel__title

    &__title {
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    // .travel__subtitle

    &__subtitle {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 15px;
        color: $color-white;
    }

    // .travel__text

    &__text {
        font-size: 15px;
        margin-bottom: 35px;
        font-weight: 300;
    }

    // .travel__button

    &__button {
        margin-left: 5px;
    }
}
.container {
}
.row {
}
.col-12 {
}
.button {
    // .button__link

    &__link {
    }
}
.travel:nth-of-type(even) > .travel__container > .travel__row_position {
    justify-content: flex-end;
}
