* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #232323;
   background-color: #fff;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	
}

ul, ol {
	list-style: none;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 950px;
	background-color: #980C0C;
}

.header_top {
	background-color: #980C0C;
	padding: 8px 0 4px 0;
}

.header_top_foto {
	display: block;
	margin: 0 auto;
}

.main_menu {
	background-color: #000;
	margin: 5px 0 0 8px;
	height: 158px;
}
.main_menu li {
	display: inline-block;
	padding: 20px 40px;
	text-align:center
}

.main_menu li a {
	color: #fff;
	text-decoration: none;
}

.main_menu li img {
	width: 150px;
	display: block;
	margin-bottom: 5px;
}

main .container {
	height: 310px;
	margin-top: -2px;
}

.clear_fix {
	padding-top: 3px;
}

.col_1 {
	background-color: #7d0909;
	width: 203px;
   height: 292px;
   margin: 0 0 15px 8px;
	float: left;
}

.col_1 li {
	padding: 0 0 18px 0;
	font-size: 16px;
}

.col_1 li a {
	color: #d85b11;
}

.content {
	width: 585px;
	float: left;
}

.content section {
	padding: 16px 3px 0;
	color: #fff;
}

.col_2 {
	width: calc(100% - 798px);
	height: 293px;
	margin-right: 2px;
	float:left;
}

.clear_fix {
	clear: both;
}

.col_2 {
	background-color: #d8d4d4;
}

.contant_col_2 {
	margin: 1px;
}

.title_col_2 {
	text-align: center;
	font-size: 16px;
	margin-bottom: 8px;
	background-color: #b5b5b5;
}

.paragraph_text {
	margin-top: 7px;
	padding: 9px 0 16px;
}

.container_footer {
	height: 51px;
}

.footer_contant {
	 text-align: center;
	 background-color: #e95b11;
	 color: #fff;
	 margin: 0 2px 0 10px;
}
