.about-us {
    box-sizing: border-box;
    background-color: #00afaf;

    &__container {
        display: flex;
        padding: 95px 0 100px;
        align-items: center;

        @include media('xl') {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__title {
        color: $white;
        @include title-style;
        margin-bottom: 10px;

        @include media('md') {
            font-size: 40px;
            text-align: center;
        }
    }

    &__content {
        width: 50%;
        margin-left: 10%;
        margin-top: -4%;
    }

    img {
        display: block;
        margin: -5% 6%;
        width: 567px;

        @include media('xl') {
            margin: 0 auto;
            width: 80%;
            margin-bottom: 50px;
        }
    }

    &__text {
        @include p-style;
        color: $white;

        &:first-of-type {
            margin-bottom: 10px;
        }
    }
}
