.page {


    &__blog-food {
        background-color: #b07cf7;
        padding: 89px 15px 118px;
        @include adaptive-container;

    }
}

.blog {

    &__title {
        color: white;
        text-align: center;
        padding-bottom: 32px;
        @include title-style;
    }

    &__content {
        font-weight: 300;
        font-size: 17px;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 44px;
        line-height: 1.5;
        color: white;
        text-align: center;
    }


    &__btn {
        @include btn;
        padding: 18px 41px;
        margin: 0 auto;
        background-color: #f72b3b;
        color: white;
    }
}


.list {
    font-size: 0;
    padding-bottom: 48px;

    &__item {
        position: relative;
        width: 370px;
        display: inline-block;

        box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.4);

        &:not(:last-of-type) {
            margin-right: 30px;

            @include media('xl') {
                margin-right: 0;
            }
        }

        @include media('xl') {
            margin-bottom: 30px;
        }

        @include media('sm') {
            width: 90%;
        }
    }

    @include media('xl') {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__image {
        max-width: 100%;
        display: block;

        @include media('sm') {
            width: 100%;
        }
    }


    &__date {
        font-weight: 700;
        color: white;
        top: 0;
        font-size: 32px;
        margin: 31px;
        text-transform: uppercase;
        text-align: center;
        background-color: rgba(38, 38, 38, .50);
        padding: 5px 8px;
        border-radius: 5px;
        line-height: 28px;

        span {
            display: block;
            font-size: 21px;
            font-weight: heavy;

        }
    }

    &__date,
    &__title {
        position: absolute;
        z-index: 1;
        left: 0;

    }


    &__title {
        padding: 0 47px 0 18px;
        bottom: 0;
        font-size: 20px;
        transform: translateY(-62px);
        line-height: 1.3;

        a {
            text-decoration: none;
            color: white;
            font-weight: 700;

        }

        @include media('sm') {
            font-size: 15px;
        }
    }


    &__person {
        position: absolute;
        bottom: 0;
        color: white;
        font-weight: 300;
        font-size: 13px;
        z-index: 10;
        transform: translateY(-24px);
        padding-left: 18px;

    }

    @include media('md') {
        padding-bottom: 10px;
    }
}


.list__item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, .50) 0%, rgba(255, 255, 255, 0) 50%);
}

.list__item:hover::after {
    background: rgba(0, 0, 0, .50);
}
