.page {

    &__footer {
        padding: 29px 0;
        background-color: #262626;
        color: #b9b9b9;
    }
}

.footer {

    &__row {
        @include media('md') {
            flex-direction: column;
            text-align-last: left;
        }
    }

    &__logo {
        font-family: 'Pacifico', cursive;
        font-weight: 400;
        color: #b9b9b9;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
    }

    &__maker_color {
        color: #ff2b58;
        font-weight: 700;
    }

    &__maker,
    &__copyright {
        font-size: 16px;
        line-height: 35px;
    }

    &__maker {
        text-align: right;
    }
}
