.header {
    background-color: #f9f8fb;


    &__container {
        height: 147px;
        display: flex;
        align-items: center;
        padding: 71px 0;
    }

    &__logo {
        font-family: 'Pacifico', cursive;
        font-weight: 400;
        color: $mineshaft;
        text-decoration: none;
        font-size: 50px;
    }

    &__navigation {
        margin-left: 39px;
    }

}
