.page {


    &__hero-section {}
}

.hero-section {
    background-color: #f9f8fb;

    &__container {
        background-image: url(../image/bg_header.jpg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        height: calc(100vh - 147px);

        @include media('sm') {
            background-image: none;
        }
    }

    &__wrapper {
        color: $mineshaft;
        padding-top: 100px;

        @media screen and (max-width:576px) {
            padding-top: 50px;
        }
    }


    &__title {
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 21px;

    }


    &__content {
        @include p-style;
        margin-bottom: 27px;

        @include media('lg') {
            max-width: 60%;
        }

        @include media('md') {
            width: 70%;
            margin-bottom: 15px;
        }
    }

    &__btn {
        @include btn;
        padding: 17px 22px;
        background-color: #ff6033;
        color: white;

        @include media('lg') {
            padding: 10px 20px;
        }
    }

    &__scroll {
        margin-top: 20px;

        @media screen and (max-width:576px) {
            margin-top: 40px;
        }
    }
}

.scroll {
    position: relative;

    &__link {
        @include position-center;
    }

    @include media('sm') {
        display: none;
    }
}
