$menu-default-border:1px solid $default-menu-color;

.menu-open {
    position: fixed;
    overflow: hidden;
}

.header__container {
    position: relative;
}

.menu {
    font-family: $default-font;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    align-items: center;

    &__list {
        justify-content: flex-end;
        display: flex;
        align-items: flex-end;
        line-height: 1.6;

        @media screen and (max-width:768px) {
            display: block;
            position: absolute;
            background-color: #fff;
            top: 86%;
            left: 0;
            right: 0;
            visibility: hidden;
            pointer-events: none;
            transition: transform .5s ease;
            height: calc(100vh - 126px);
            overflow-y: auto;
            z-index: 100;
            padding-bottom: 70px;
        }
    }

    &__item {
        &::before {
            display: block;
            width: 100%;
            height: 3px;
            background-color: transparent;
            content: '';
            transition: background-color .5s ease;

            @media screen and (max-width:768px) {
                width: 3px;
                height: 100%;
            }
        }

        &:not(:last-child) {
            margin-right: 30px;

            @include media('md') {
                margin-right: 0;
            }
        }

        &_active::before,
        &:hover::before {
            background-color: $default-menu-color;

            @media screen and (max-width:768px) {
                border-top: 0;
                border-left: $menu-default-border;
                border-width: 3px;
            }
        }

        &:hover {
            .menu__sub-menu {
                visibility: visible;
                pointer-events: all;
                opacity: 1;
            }
        }

        @media screen and (max-width:768px) {
            border-bottom: $menu-default-border;
            padding: 10px;
        }
    }

    &__link {
        color: $mineshaft;
        text-decoration: none;
        padding: 10px 5px;

        @media screen and (max-width:768px) {
            position: relative;
            display: block;
            padding: 0;
        }
    }

    &__sub-menu {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease;

        @media screen and (max-width:768px) {
            position: static;
            visibility: visible;
            pointer-events: all;
            opacity: 1;
            height: 0;
            overflow: hidden;
            border: none;
            transition: height .5s ease;

        }
    }

    &__input {
        @include hidden-input;

        @media screen and (max-width:768px) {
            &:checked {
                &~.menu__list {
                    visibility: visible;
                    pointer-events: all;
                }

                &+.menu__burger-btn .burger-btn__line {
                    background-color: transparent;

                    &::after,
                    &::before {
                        top: 0;
                        bottom: 0;
                    }

                    &::after {
                        transform: rotate(45deg);
                    }

                    &::before {
                        transform: rotate(-45deg);
                    }

                }
            }

            display: block;
        }
    }

    &__sub-menu-btn-input {
        @include hidden-input;

        @media screen and (max-width:768px) {
            &:checked {
                &~.menu__sub-menu {
                    height: 171px;
                }

                &+.menu__list .menu__sub-menu-btn {
                    transform: rotate(90deg);
                }
            }
        }
    }

    &__sub-menu-btn {
        display: none;

        &::after {
            content: '';
            display: inline-block;
            height: 15px;
            right: 0;
            bottom: 0;
            top: 0;
            width: 15px;
            position: absolute;
            border: $menu-default-border;
            border-width: 3px;
            transform: rotate(45deg);
            border-left: none;
            border-bottom: none;
        }

        @media screen and (max-width:768px) {
            display: block;
        }
    }
}

.sub-menu {
    background-color: #f9f8fb;

    &__link {
        text-decoration: none;
        font-size: 14px;
        color: $mineshaft;
        display: block;
        padding: 10px;
    }

    @media screen and (max-width:768px) {
        top: 100%;
        right: 0;
        left: 0;
        background-color: #fff;
    }
}

.burger-btn {
    border: $menu-default-border;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    pointer-events: none;

    &__line {
        display: block;
        width: 27px;
        height: 3px;
        background-color: $default-menu-color;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 27px;
            height: 3px;
            background-color: $default-menu-color;
            position: absolute;
        }

        &::before {
            top: -8px;
        }

        &::after {
            bottom: -8px;
        }

    }

    @media screen and (max-width:768px) {
        visibility: visible;
        pointer-events: all;
    }
}
