.page {


    &__services {
        padding: 139px 0 85px 0;
        background-color: #70bfff;
    }
}

.services {

    &__container {
        background-image: url(../image/bg-services.png);
        background-position: 708px 0;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        padding-left: 105px;
        padding-bottom: 13px;

        @include media('md') {
            padding-left: 15px;
            background-position: 400px 120px;
            background-size: 300px;
        }
    }

    &__title {
        color: $white;
        @include title-style;
        margin-left: 134px;

        @include media('md') {
            font-size: 60px;
            margin-left: 100px;
        }
    }

    &__title-wrapper {
        margin-top: -8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.services-list {
    margin: 0 auto;

    &__blocks {
        padding: 40px 0;
        margin: 0 auto;

    }

    &__item {
        display: flex;
        background-color: $white;
        box-shadow: 0px 0px 9px 0px rgba(34, 60, 80, 0.2);

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:not(:nth-child(3)) {
            padding: 40px 0;
        }

        &:nth-child(3) {
            padding: 20px 0 30px;
            line-height: 1.2;
        }

        &:first-child .services-list__title::after,
        &:nth-child(2) .services-list__title::after {
            top: -203%;
        }

        &:first-child .services-list__title::after {
            left: 140%;
        }

        &:nth-child(2) .services-list__title::after {
            left: 146%;
        }

        &:nth-child(3) .services-list__title::after {
            top: -44%;
            left: 98%;
        }

        &:nth-child(4) .services-list__title::after {
            top: -200%;
            left: 148%;
        }

        &:hover {
            box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.33);

        }
    }

    &__title {
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            height: 100px;
            width: 1px;
            background-color: #9d9d9d;
        }
    }

    &__image-block {
        box-sizing: border-box;
        width: 100px;
        position: relative;
    }

    &__image {
        position: absolute;
        @include position-center;
        display: block;
        width: 50px;
    }
}
