.page {


    &__services {
        padding: 139px 0 85px 0;
        background-color: #70bfff;
    }
}

.services {

    &__container {
        background-image: url(../image/bg-services.png);
        background-position: 708px 0;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        padding-left: 105px;
        padding-bottom: 13px;
    }

    &__title {
        color: $white;
        @include title-style;
        margin-left: 134px;
    }

    &__title-wrapper {
        margin-top: -8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.services-list {
    margin: 0 auto;

    &__blocks {
        padding: 40px 0;
        margin: 0 auto;

    }

    &__item {
        display: flex;
        background-color: $white;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:not(:nth-child(3)) {
            padding: 40px 0;
        }

        &:nth-child(3) {
            padding: 20px 0 30px;
            line-height: 1.2;
        }
    }

    &__title {
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
    }

    &__image-block {
        box-sizing: border-box;
        width: 100px;
        position: relative;
        border-left: 1px solid;
    }


    &__image {
        position: absolute;
        @include position-center;
        display: block;
        width: 50px;
    }
}
