.subscribe {



    &__container {
        background-image: url(../image/bg_subscribe.jpg);
        background-repeat: no-repeat;
        padding: 150px 0 165px;
        background-position: right;

        @include media('md') {
            background-image: none;
        }
    }


    &__content {
        width: 50%;
    }

    &__title {
        @include title-style;
        font-size: 40px;
        margin-bottom: 15px;
    }

    &__text {
        @include p-style;
        margin-bottom: 25px;
    }

    &__form {
        width: 66.666666%;
    }

    &__input-email {
        font-family: $default-font;
        background-color: $white;
        border-radius: 0;
        border: 1px solid $mineshaft;
        font-size: 15px;
        padding: 15px;
        width: 73%;
        margin-right: 30px;
    }

    &__btn {
        @include btn;
        display: inline-block;
        padding: 13px 36.5px 13px 18px;
        background-color: #96b92c;
        color: $white;
    }
}
