/*container*/
$container-width: 1200px;
$default-gap:0 15px;
$container-padding:10px;
$bg-color:#111a28;

/*fonts*/
$default-font:'Raleway',
sans-serif;
$default-color:#262626;

/*style for title*/
$title-color: #e1e1e1;
$title-size: 24px;

/*style for subtitle*/
$subtitle-color:#64686f;
$subtitle-size:14px;

/*style for border*/
$border-color: #a9aaad;

/*style for button*/
$bg-btn:#202835;
$border-btn:1px solid #4f5560;
$padding-btn:12px 0;
