* {
    padding: 0;
    margin: 0;
}

body {
    width: 787px;
    margin: auto;

}

.container {
    width: 779px;
    height: 660px;
    text-align: center;
    margin-right: auto;
    margin-top: 20px;
}

.header {
    height: 100%;
    color: white;
    background-color: #a52a2a;
    margin-left: 8px;
    margin-top: 20;
}

.main {
    margin-top: 22x;
    margin-bottom: 26px;
    margin-left: 8px;
}

p {
    font-size: 18px;
    margin-top: 22px;
    text-align: left;
    margin-right: 19px;
}

.cars {
    margin-top: 23px;
}

.cars>img {
    border: 4px dashed black;
}

a {
    text-decoration: none;
}

footer {
    width: 779px;
    color: white;
    background: black;
    font-size: 15px;
    margin-left: 8px;
    margin-top: 20px;
}
