*{transition: all .1s ease-in;}
body{
   font-family:'Trebuchet MS', Trebuchet, Arial, sans-serif;
   margin: 0 auto;
   box-sizing: border-box;
   border: 20px solid rgb(255, 248, 248);
   background: #3b3f45 no-repeat;
}
.header{
    text-align: center;
    background: #4a4f56;
    padding: 15px 0;
    color: #eb7e7f;
}
.header h1{
    font-size: 2em;
    color: #eb7e7f;
}
.header p{
    font-size: 24 px;
    font-weight: normal;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}
.s-list{
    list-style: none;
    padding: 0;
    margin: 0 0 35px;
    color: #fff;
}
.s-list li{
    background: #7a7593;
}
.s-list li:nth-child(odd){
    background: #88839e;
}
.s-list li:hover{
    background: #625e77;
    border: 4px solid #fff;
    border-left: none;
    border-right: none;
}
.s-list li:active{
    background: #eb7e7f;
}
.s-list [type="checkbox"]:checked + span{
    text-decoration: line-through;
    color: rgb(199, 192, 192);
}
.s-list label{
    display: block;
    padding: 15px;
}
.be-af::before{
    content: "(";
}
.be-af::after{
    content: ")";
}
.container footer{
    text-align: center;
    background: #4a4f56;
    color: #eb7e7f;
    padding: 10px 0;
}
